@font-face {
  font-family: 'Manrope';
  src: local('Manrope-Regular'),
  url('../assets/fonts/Manrope-Regular.woff2') format('woff2'),
  url('../assets/fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope-Medium'),
  url('../assets/fonts/Manrope-Medium.woff2') format('woff2'),
  url('../assets/fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope-Bold'),
  url('../assets/fonts/Manrope-Bold.woff2') format('woff2'),
  url('../assets/fonts/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope-ExtraBold'),
  url('../assets/fonts/Manrope-ExtraBold.woff2') format('woff2'),
  url('../assets/fonts/Manrope-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Mustica Pro';
  src: local('Mustica Pro'),
  url('../assets/fonts/MusticaproSemibold.woff2') format('woff2'),
  url('../assets/fonts/MusticaproSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}