.gap {
  &-5 {
    gap: rem(5);
  }

  &-10 {
    gap: rem(10);
  }

  &-15 {
    gap: rem(15);
  }

  &-20 {
    gap: rem(20);
  }

  &-25 {
    gap: rem(25);
  }

  &-30 {
    gap: rem(30);
  }

  &-35 {
    gap: rem(35);
  }

  &-40 {
    gap: rem(40);
  }

  &-45 {
    gap: rem(45);
  }

  &-50 {
    gap: rem(50);
  }

  &-55 {
    gap: rem(55);
  }

  &-60 {
    gap: rem(60);
  }

  &-65 {
    gap: rem(65);
  }

  &-70 {
    gap: rem(70);
  }

  &-75 {
    gap: rem(75);
  }

  &-80 {
    gap: rem(80);
  }

  &-85 {
    gap: rem(85);
  }

  &-90 {
    gap: rem(90);
  }

  &-95 {
    gap: rem(95);
  }

  &-100 {
    gap: rem(100);
  }
}

.gap-mob {
  @include r($mobile) {
    &-5 {
      gap: rem(5);
    }

    &-10 {
      gap: rem(10);
    }

    &-15 {
      gap: rem(15);
    }

    &-20 {
      gap: rem(20);
    }

    &-25 {
      gap: rem(25);
    }

    &-30 {
      gap: rem(30);
    }

    &-35 {
      gap: rem(35);
    }

    &-40 {
      gap: rem(40);
    }

    &-45 {
      gap: rem(45);
    }

    &-50 {
      gap: rem(50);
    }

    &-55 {
      gap: rem(55);
    }

    &-60 {
      gap: rem(60);
    }

    &-65 {
      gap: rem(65);
    }

    &-70 {
      gap: rem(70);
    }

    &-75 {
      gap: rem(75);
    }

    &-80 {
      gap: rem(80);
    }

    &-85 {
      gap: rem(85);
    }

    &-90 {
      gap: rem(90);
    }

    &-95 {
      gap: rem(95);
    }

    &-100 {
      gap: rem(100);
    }
  }
}