*[hidden] {
  display: none;
}

*[disabled] {
  opacity: .6;
  pointer-events: none;
}

input {
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
}

sup,
sub {
  font-size: .8em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

a,
svg,
button {
  transition: all 0.3s ease-in-out;
}

button, a {
  cursor: pointer;
}

a {
  //padding: rem(5);
  //border-radius: 5px;
  &:focus:not(:hover) {
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
}

svg {
  flex-shrink: 0;
}

picture,
img {
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img {
  max-width: none;
}

input,
textarea,
button {
  font-family: inherit;
}

bu {
  text-transform: uppercase;
  font-weight: 600;
}

.z-index {
  &-1 {
    position: relative;
    z-index: 1;
  }

  &-2 {
    position: relative;
    z-index: 2;
  }

  &-3 {
    position: relative;
    z-index: 3;
  }
}

.only-mobile {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  display: none;
  @include r($mobile) {
    position: relative;
    pointer-events: auto;
    visibility: visible;
    display: flex;
  }
}

.only-tablet {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  display: none;
  @include r($tablet) {
    position: relative;
    pointer-events: auto;
    visibility: visible;
    display: flex;
  }
}

.mob-hidden {
  @include r($mobile) {
    position: absolute;
    visibility: hidden;
    display: none;
  }
}

.tab-hidden {
  @include r($tablet) {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
    display: none;
  }
}

.tab-visible {
  display: none;
  visibility: hidden;
  @include r($tablet) {
    display: flex;
    visibility: visible;
  }
}

.laptop-hidden {
  @include r($laptop) {
    position: absolute;
    pointer-events: none;
    display: none;
    visibility: hidden;
  }
}

.laptop-min-hidden {
  @include r($laptop-min) {
    position: absolute;
    pointer-events: none;
    display: none;
    visibility: hidden;
  }
}

.laptop-visible {
  position: absolute;
  pointer-events: none;
  display: none;
  visibility: hidden;
  @include r($laptop) {
    position: relative;
    pointer-events: auto;
    display: flex;
    visibility: visible;
  }
}

.desktop-hidden {

  @include rmin(1441) {
    position: absolute;
    pointer-events: none;
    display: none;
    visibility: hidden;
  }
}

.order-laptop {
  &--1 {
    @include r($laptop) {
      order: 1;
    }
  }

  &--2 {
    @include r($laptop) {
      order: 2;
    }
  }

  &--3 {
    @include r($laptop) {
      order: 3;
    }
  }
}

.order-laptop-min {
  &--1 {
    @include r($laptop-min) {
      order: 1;
    }
  }

  &--2 {
    @include r($laptop-min) {
      order: 2;
    }
  }

  &--3 {
    @include r($laptop-min) {
      order: 3;
    }
  }
}

.order-tab {
  &--1 {
    @include r($tablet) {
      order: 1;
    }
  }

  &--2 {
    @include r($tablet) {
      order: 2;
    }
  }

  &--3 {
    @include r($tablet) {
      order: 3;
    }
  }

  &--4 {
    @include r($tablet) {
      order: 4;
    }
  }
}

.order-mob {
  &-minus-1 {
    @include r($mobile) {
      order: -1;
    }
  }

  &--1 {
    @include r($mobile) {
      order: 1;
    }
  }

  &--2 {
    @include r($mobile) {
      order: 2;
    }
  }

  &--3 {
    @include r($mobile) {
      order: 3;
    }
  }

  &--4 {
    @include r($mobile) {
      order: 4;
    }
  }

  &--5 {
    @include r($mobile) {
      order: 5;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.centered-mob {
  @include r($mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}

.relative {
  position: relative;
}

.block-upper {
  position: relative;
  top: rem(-180);
  @include r($laptop) {
    top: 0;
  }
}
