.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: flex-end;
}
.justify-self-start {
  justify-self: flex-start;
}



.justify-items-center {
  justify-items: center;
}
.justify-items-end {
  justify-items: flex-end;
}
.justify-items-start {
  justify-items: flex-start;

}

.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: start;
}
.justify-content-sb {
  justify-content: space-between;
}