.mta {
  margin-top: auto;
}

.mba {
  margin-bottom: auto;
}

.mla {
  margin-left: auto;
}

.mta {
  margin-right: auto;
}

.mb {
  &-0 {
    margin-bottom: 0;
  }

  &-1 {
    margin-bottom: rem(1);
  }

  &-2 {
    margin-bottom: rem(2);
  }

  &-3 {
    margin-bottom: rem(3);
  }

  &-4 {
    margin-bottom: rem(4);
  }

  &-5 {
    margin-bottom: rem(5);
  }

  &-6 {
    margin-bottom: rem(6);
  }

  &-7 {
    margin-bottom: rem(7);
  }

  &-8 {
    margin-bottom: rem(8);
  }

  &-9 {
    margin-bottom: rem(9);
  }

  &-10 {
    margin-bottom: rem(10);
  }

  &-15 {
    margin-bottom: rem(15);
  }

  &-20 {
    margin-bottom: rem(20);
  }

  &-25 {
    margin-bottom: rem(25);
  }

  &-30 {
    margin-bottom: rem(30);
  }

  &-35 {
    margin-bottom: rem(35);
  }

  &-40 {
    margin-bottom: rem(40);
  }

  &-45 {
    margin-bottom: rem(45);
  }

  &-50 {
    margin-bottom: rem(50);
  }

  &-55 {
    margin-bottom: rem(55);
  }

  &-60 {
    margin-bottom: rem(60);
  }

  &-65 {
    margin-bottom: rem(65);
  }

  &-70 {
    margin-bottom: rem(70);
  }

  &-75 {
    margin-bottom: rem(75);
  }

  &-80 {
    margin-bottom: rem(80);
  }

  &-85 {
    margin-bottom: rem(85);
  }

  &-90 {
    margin-bottom: rem(90);
  }

  &-95 {
    margin-bottom: rem(95);
  }

  &-100 {
    margin-bottom: rem(100);
  }

  &-110 {
    margin-bottom: rem(110);
  }

  &-115 {
    margin-bottom: rem(115);
  }

  &-120 {
    margin-bottom: rem(120);
  }

  &-135 {
    margin-bottom: rem(135);
  }

  &-145 {
    margin-bottom: rem(145);
  }

  &-150 {
    margin-bottom: rem(150);
  }

  &-160 {
    margin-bottom: rem(160);
  }

  &-170 {
    margin-bottom: rem(170);
  }

  &-180 {
    margin-bottom: rem(180);
  }

  &-190 {
    margin-bottom: rem(190);
  }

  &-200 {
    margin-bottom: rem(200);
  }

  &-270 {
    margin-bottom: rem(270);
  }

  &-285 {
    margin-bottom: rem(285);
  }

  &-300 {
    margin-bottom: rem(300);
  }
}

.mt {
  &-1 {
    margin-top: rem(1);
  }

  &-2 {
    margin-top: rem(2);
  }

  &-3 {
    margin-top: rem(3);
  }

  &-4 {
    margin-top: rem(4);
  }

  &-5 {
    margin-top: rem(5);
  }

  &-6 {
    margin-top: rem(6);
  }

  &-7 {
    margin-top: rem(7);
  }

  &-8 {
    margin-top: rem(8);
  }

  &-9 {
    margin-top: rem(9);
  }

  &-10 {
    margin-top: rem(10);
  }

  &-15 {
    margin-top: rem(15);
  }

  &-20 {
    margin-top: rem(20);
  }

  &-25 {
    margin-top: rem(25);
  }

  &-30 {
    margin-top: rem(30);
  }

  &-35 {
    margin-top: rem(35);
  }

  &-40 {
    margin-top: rem(40);
  }

  &-45 {
    margin-top: rem(45);
  }

  &-50 {
    margin-top: rem(50);
  }

  &-55 {
    margin-top: rem(55);
  }

  &-60 {
    margin-top: rem(60);
  }

  &-65 {
    margin-top: rem(65);
  }

  &-70 {
    margin-top: rem(70);
  }

  &-75 {
    margin-top: rem(75);
  }

  &-80 {
    margin-top: rem(80);
  }

  &-85 {
    margin-top: rem(85);
  }

  &-90 {
    margin-top: rem(90);
  }

  &-95 {
    margin-top: rem(95);
  }

  &-100 {
    margin-top: rem(100);
  }

  &-120 {
    margin-top: rem(120);
  }

  &-160 {
    margin-top: rem(160);
  }

  &-180 {
    margin-top: rem(180);
  }
}

.mbt {
  &-0 {
    @include r($tablet) {
      margin-bottom: rem(0);
    }
  }

  &-1 {
    @include r($tablet) {
      margin-bottom: rem(1);
    }
  }

  &-2 {
    @include r($tablet) {
      margin-bottom: rem(2);
    }
  }

  &-3 {
    @include r($tablet) {
      margin-bottom: rem(3);
    }
  }

  &-4 {
    @include r($tablet) {
      margin-bottom: rem(4);
    }
  }

  &-5 {
    @include r($tablet) {
      margin-bottom: rem(5);
    }
  }

  &-6 {
    @include r($tablet) {
      margin-bottom: rem(6);
    }
  }

  &-7 {
    @include r($tablet) {
      margin-bottom: rem(7);
    }
  }

  &-8 {
    @include r($tablet) {
      margin-bottom: rem(8);
    }
  }

  &-9 {
    @include r($tablet) {
      margin-bottom: rem(9);
    }
  }

  &-10 {
    @include r($tablet) {
      margin-bottom: rem(10);
    }
  }

  &-15 {
    @include r($tablet) {
      margin-bottom: rem(15);
    }
  }

  &-20 {
    @include r($tablet) {
      margin-bottom: rem(20);
    }
  }

  &-25 {
    @include r($tablet) {
      margin-bottom: rem(25);
    }
  }

  &-30 {
    @include r($tablet) {
      margin-bottom: rem(30);
    }
  }

  &-35 {
    @include r($tablet) {
      margin-bottom: rem(35);
    }
  }

  &-35 {
    @include r($tablet) {
      margin-bottom: rem(35);
    }
  }

  &-40 {
    @include r($tablet) {
      margin-bottom: rem(40);
    }
  }

  &-45 {
    @include r($tablet) {
      margin-bottom: rem(45);
    }
  }

  &-50 {
    @include r($tablet) {
      margin-bottom: rem(50);
    }
  }

  &-55 {
    @include r($tablet) {
      margin-bottom: rem(55);
    }
  }

  &-60 {
    @include r($tablet) {
      margin-bottom: rem(60);
    }
  }

  &-65 {
    @include r($tablet) {
      margin-bottom: rem(65);
    }
  }

  &-70 {
    @include r($tablet) {
      margin-bottom: rem(70);
    }
  }

  &-75 {
    @include r($tablet) {
      margin-bottom: rem(75);
    }
  }

  &-80 {
    @include r($tablet) {
      margin-bottom: rem(80);
    }
  }

  &-85 {
    @include r($tablet) {
      margin-bottom: rem(85);
    }
  }

  &-90 {
    @include r($tablet) {
      margin-bottom: rem(90);
    }
  }

  &-95 {
    @include r($tablet) {
      margin-bottom: rem(95);
    }
  }

  &-100 {
    @include r($tablet) {
      margin-bottom: rem(100);
    }
  }

  &-375 {
    @include r($tablet) {
      margin-bottom: rem(375);
    }
  }
}

.mbm {
  &-0 {
    @include r($mobile) {
      margin-bottom: rem(0);
    }
  }

  &-1 {
    @include r($mobile) {
      margin-bottom: rem(1);
    }
  }

  &-2 {
    @include r($mobile) {
      margin-bottom: rem(2);
    }
  }

  &-3 {
    @include r($mobile) {
      margin-bottom: rem(3);
    }
  }

  &-4 {
    @include r($mobile) {
      margin-bottom: rem(4);
    }
  }

  &-5 {
    @include r($mobile) {
      margin-bottom: rem(5);
    }
  }

  &-6 {
    @include r($mobile) {
      margin-bottom: rem(6);
    }
  }

  &-7 {
    @include r($mobile) {
      margin-bottom: rem(7);
    }
  }

  &-8 {
    @include r($mobile) {
      margin-bottom: rem(8);
    }
  }

  &-9 {
    @include r($mobile) {
      margin-bottom: rem(9);
    }
  }

  &-10 {
    @include r($mobile) {
      margin-bottom: rem(10);
    }
  }

  &-15 {
    @include r($mobile) {
      margin-bottom: rem(15);
    }
  }

  &-20 {
    @include r($mobile) {
      margin-bottom: rem(20);
    }
  }

  &-25 {
    @include r($mobile) {
      margin-bottom: rem(25);
    }
  }

  &-30 {
    @include r($mobile) {
      margin-bottom: rem(30);
    }
  }

  &-35 {
    @include r($mobile) {
      margin-bottom: rem(35);
    }
  }

  &-35 {
    @include r($mobile) {
      margin-bottom: rem(35);
    }
  }

  &-40 {
    @include r($mobile) {
      margin-bottom: rem(40);
    }
  }

  &-45 {
    @include r($mobile) {
      margin-bottom: rem(45);
    }
  }

  &-50 {
    @include r($mobile) {
      margin-bottom: rem(50);
    }
  }

  &-55 {
    @include r($mobile) {
      margin-bottom: rem(55);
    }
  }

  &-60 {
    @include r($mobile) {
      margin-bottom: rem(60);
    }
  }

  &-65 {
    @include r($mobile) {
      margin-bottom: rem(65);
    }
  }

  &-70 {
    @include r($mobile) {
      margin-bottom: rem(70);
    }
  }

  &-75 {
    @include r($mobile) {
      margin-bottom: rem(75);
    }
  }

  &-80 {
    @include r($mobile) {
      margin-bottom: rem(80);
    }
  }

  &-85 {
    @include r($mobile) {
      margin-bottom: rem(85);
    }
  }

  &-90 {
    @include r($mobile) {
      margin-bottom: rem(90);
    }
  }

  &-95 {
    @include r($mobile) {
      margin-bottom: rem(95);
    }
  }

  &-100 {
    @include r($mobile) {
      margin-bottom: rem(100);
    }
  }

  &-105 {
    @include r($mobile) {
      margin-bottom: rem(105);
    }
  }

  &-110 {
    @include r($mobile) {
      margin-bottom: rem(110);
    }
  }

  &-115 {
    @include r($mobile) {
      margin-bottom: rem(115);
    }
  }

  &-120 {
    @include r($mobile) {
      margin-bottom: rem(120);
    }
  }

  &-125 {
    @include r($mobile) {
      margin-bottom: rem(125);
    }
  }

  &-140 {
    @include r($mobile) {
      margin-bottom: rem(140);
    }
  }

  &-175 {
    @include r($mobile) {
      margin-bottom: rem(175);
    }
  }

  &-185 {
    @include r($mobile) {
      margin-bottom: rem(185);
    }
  }

  &-190 {
    @include r($mobile) {
      margin-bottom: rem(190);
    }
  }

  &-200 {
    @include r($mobile) {
      margin-bottom: rem(200);
    }
  }

  &-220 {
    @include r($mobile) {
      margin-bottom: rem(220);
    }
  }

  &-320 {
    @include r($mobile) {
      margin-bottom: rem(320);
    }
  }

  &-375 {
    @include r($mobile) {
      margin-bottom: rem(375);
    }
  }
}

.mtt {
  &-0 {
    @include r($tablet) {
      margin-top: rem(0);
    }
  }
}

.mtm {
  &-0 {
    @include r($mobile) {
      margin-top: rem(0);
    }
  }

  &-1 {
    @include r($mobile) {
      margin-top: rem(1);
    }
  }

  &-2 {
    @include r($mobile) {
      margin-top: rem(2);
    }
  }

  &-3 {
    @include r($mobile) {
      margin-top: rem(3);
    }
  }

  &-4 {
    @include r($mobile) {
      margin-top: rem(4);
    }
  }

  &-5 {
    @include r($mobile) {
      margin-top: rem(5);
    }
  }

  &-6 {
    @include r($mobile) {
      margin-top: rem(6);
    }
  }

  &-7 {
    @include r($mobile) {
      margin-top: rem(7);
    }
  }

  &-8 {
    @include r($mobile) {
      margin-top: rem(8);
    }
  }

  &-9 {
    @include r($mobile) {
      margin-top: rem(9);
    }
  }

  &-10 {
    @include r($mobile) {
      margin-top: rem(10);
    }
  }

  &-15 {
    @include r($mobile) {
      margin-top: rem(15);
    }
  }

  &-20 {
    @include r($mobile) {
      margin-top: rem(20);
    }
  }

  &-25 {
    @include r($mobile) {
      margin-top: rem(25);
    }
  }

  &-30 {
    @include r($mobile) {
      margin-top: rem(30);
    }
  }

  &-35 {
    @include r($mobile) {
      margin-top: rem(35);
    }
  }

  &-35 {
    @include r($mobile) {
      margin-top: rem(35);
    }
  }

  &-40 {
    @include r($mobile) {
      margin-top: rem(40);
    }
  }

  &-45 {
    @include r($mobile) {
      margin-top: rem(45);
    }
  }

  &-50 {
    @include r($mobile) {
      margin-top: rem(50);
    }
  }

  &-55 {
    @include r($mobile) {
      margin-top: rem(55);
    }
  }

  &-60 {
    @include r($mobile) {
      margin-top: rem(60);
    }
  }

  &-65 {
    @include r($mobile) {
      margin-top: rem(65);
    }
  }

  &-70 {
    @include r($mobile) {
      margin-top: rem(70);
    }
  }

  &-75 {
    @include r($mobile) {
      margin-top: rem(75);
    }
  }

  &-80 {
    @include r($mobile) {
      margin-top: rem(80);
    }
  }

  &-85 {
    @include r($mobile) {
      margin-top: rem(85);
    }
  }

  &-90 {
    @include r($mobile) {
      margin-top: rem(90);
    }
  }

  &-95 {
    @include r($mobile) {
      margin-top: rem(95);
    }
  }

  &-100 {
    @include r($mobile) {
      margin-top: rem(100);
    }
  }

  &-110 {
    @include r($mobile) {
      margin-top: rem(110);
    }
  }
}