<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section intro">
      <div class="container">
        <div class="intro__inner">
          <div class="intro__content">
            <h1 class="title title--extra intro__title">
              Сайты - быстро,
              <span class="decor decor--border">качественно</span>
              по-божески
            </h1>
            <div class="intro__text">
              <p>Веб и мобильная разработка. Бэкенд&nbsp;и&nbsp;интеграции любой сложности. Проектирование архитектуры и
                управление
                процессами.</p>
            </div>
          </div>
          <div class="intro__content">
            <div class="intro__badge badge badge--light">
              <svg class="badge__icon badge__icon-text badge--light__icon">
                <use xlink:href="./assets/sprite.svg#icon-badge-catalog"></use>
              </svg>
              <svg class="badge__icon badge__icon-arrow badge--light__icon">
                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
              </svg>

            </div>
            <picture class="intro__picture">
              <svg class="intro__picture-main">
                <use xlink:href="./assets/sprite.svg#icon-cat"></use>
              </svg>
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered mb-90 mbm-30">
      <div class="container">
        <div class="section__header section__header--centered mb-80 mbm-25">
          <h2 class="title mb-20 mbm-15">Как это работает?</h2>
          <p class="title__subtitle">Мы предлагаем вам 2 способа работы с нами, <br class="mob-hidden">выберите один из
            них</p>
        </div>
        <div class="tabs tabs-card mob-hidden" data-tabs-container>
          <div class="columns">
            <div class="columns__col--6 columns__col-mob--12 order-mob--1">
              <div class="tabs__trigger tabs-card__trigger active" data-tabs-trigger data-tabs="tab-1">

                <div class="tabs-card__icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-lightning"></use>
                  </svg>
                </div>
                <div class="tabs-card__content">
                  <p class="tabs-card__title">У меня уже <strong>есть сайт</strong></p>
                  <p class="tabs-card__text">Хочу заказать услуги по доработкам своего сайта</p>
                </div>
                <div class="tabs-card__trigger-icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow-extra-min"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="columns__col--6 columns__col-mob--12 order-mob--3">
              <div class="tabs__trigger tabs-card__trigger" data-tabs-trigger data-tabs="tab-2">

                <div class="tabs-card__icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-hash"></use>
                  </svg>
                </div>
                <div class="tabs-card__content">
                  <p class="tabs-card__title">У меня еще <strong>нет сайта</strong></p>
                  <p class="tabs-card__text">Хочу заказать шаблон нового сайта </p>
                </div>
                <div class="tabs-card__trigger-icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow-extra-min"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="columns__col--12 order-mob--2">
              <ul class="tabs__list tabs-card__list">
                <li class="tabs__item tabs-card__item active" id="tab-1" data-tabs-list>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">1</span>
                    <div class="card-mini__text">Авторизуйтесь или зарегистрируйтесь на сайте
                      <bu>Fast.online</bu>
                    </div>
                  </div>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">2</span>
                    <div class="card-mini__text">Выберете услугу и нажмите - “Оставить заявку”. Подробно опишите вашу
                      задачу
                    </div>
                  </div>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">3</span>
                    <div class="card-mini__text">Менеджер свяжется с вами чтобы уточнить все детали</div>
                  </div>
                  <div class="card-mini card-mini--centered tabs-card__item-inner">
                    <span class="card-mini__count">4</span>
                    <div class="card-mini__text">Оплачиваете услугу через <a class="link link--underline" href="#">личный
                      кабинет</a> после того, как исполнитель ее выполнит
                    </div>
                  </div>
                </li>
                <li class="tabs__item tabs-card__item" id="tab-2" data-tabs-list>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">1</span>
                    <div class="card-mini__text">Мы не придумали что тут написать</div>
                  </div>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">2</span>
                    <div class="card-mini__text">Но клиенты нам нужны</div>
                  </div>
                  <div class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                    <span class="card-mini__count">3</span>
                    <div class="card-mini__text">Мы вам понравимся. Честно-честно!</div>
                  </div>
                  <div class="card-mini card-mini--centered tabs-card__item-inner">
                    <span class="card-mini__count">4</span>
                    <div class="card-mini__text">Напишите нам (´｡• ω •｡`)</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="collapse tabs-card only-mobile" data-collapse data-duration="700">
          <div class="collapse__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger tabs-card__trigger active" data-collapse-trigger>
                <div class="tabs-card__icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-lightning"></use>
                  </svg>
                </div>
                <div class="tabs-card__content">
                  <p class="tabs-card__title">У меня уже <strong>есть сайт</strong></p>
                  <p class="tabs-card__text">Хочу заказать услуги по доработкам своего сайта</p>
                </div>
                <div class="tabs-card__trigger-icon active" data-collapse-icon>
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow-extra-min"></use>
                  </svg>
                </div>
              </div>
              <div class="collapse__content collapse-show" data-collapse-content>
                <div class="collapse__inner">
                  <ul class="tabs-card__list">
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">1</span>
                      <div class="card-mini__text">Авторизуйтесь или зарегистрируйтесь на сайте
                        <bu>Fast.online</bu>
                      </div>
                    </li>
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">2</span>
                      <div class="card-mini__text">Выберете услугу и нажмите - “Оставить заявку”. Подробно опишите вашу
                        задачу
                      </div>
                    </li>
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">3</span>
                      <div class="card-mini__text">Менеджер свяжется с вами чтобы уточнить все детали</div>
                    </li>
                    <li class="card-mini card-mini--centered tabs-card__item-inner">
                      <span class="card-mini__count">4</span>
                      <div class="card-mini__text">Оплачиваете услугу через <a class="link link--underline" href="#">личный
                        кабинет</a> после того, как исполнитель ее выполнит
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger tabs-card__trigger" data-collapse-trigger>
                <div class="tabs-card__icon">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-hash"></use>
                  </svg>
                </div>
                <div class="tabs-card__content">
                  <p class="tabs-card__title">У меня еще <strong>нет сайта</strong></p>
                  <p class="tabs-card__text">Хочу заказать шаблон нового сайта </p>
                </div>
                <div class="tabs-card__trigger-icon active" data-collapse-icon>
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow-extra-min"></use>
                  </svg>
                </div>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner">
                  <ul class="tabs-card__list">
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">1</span>
                      <div class="card-mini__text">Мы не придумали что тут написать</div>
                    </li>
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">2</span>
                      <div class="card-mini__text">Но клиенты нам нужны</div>
                    </li>
                    <li class="card-mini card-mini--centered card-mini--arrow tabs-card__item-inner">
                      <span class="card-mini__count">3</span>
                      <div class="card-mini__text">Мы вам понравимся. Честно-честно!</div>
                    </li>
                    <li class="card-mini card-mini--centered tabs-card__item-inner">
                      <span class="card-mini__count">4</span>
                      <div class="card-mini__text">Напишите нам (´｡• ω •｡`)</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--color pt-120 pb-120 mb-120 ptm-30 pbm-30 mbm-35">
      <div class="triggered triggered--from-left">
        <div class="container">
          <div class="columns">
            <div class="columns__col--4 columns__row--2 columns__col-laptop--7 columns__col-mob--12">
              <div class="section__header section__header--vert-centered pb-20">
                <h2 class="title mb-20 mbm-15">Услуги</h2>
                <p class="title__subtitle mb-50 mbm-0">Таким образом постоянный количественный рост и сфера нашей
                  активности
                  способствует подготовки и </p>
                <a class="button button--fill button--hover-rotate laptop-hidden" href="#">
                  <span>Все услуги</span>
                  <svg class="button__icon button__icon--arrow">
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                </a>
              </div>
            </div>
            <div class="columns__col--4 columns__col-laptop--6 columns__col-mob--12">
              <%= htmlWebpackPlugin.options.cardSrv %>
            </div>
            <div class="columns__col--4 columns__col-laptop--6 columns__col-mob--12">
              <%= htmlWebpackPlugin.options.cardSrv %>
            </div>
            <div class="columns__col--4 columns__col-laptop--6 columns__col-mob--12">
              <%= htmlWebpackPlugin.options.cardSrv %>
            </div>
            <div class="columns__col--4 columns__col-laptop--6 columns__col-mob--12">
              <%= htmlWebpackPlugin.options.cardSrv %>
            </div>
            <div class="columns__col-laptop--12 laptop-visible">
              <a class="button button--fill button--mob-wide button--hover-rotate centered" href="#">
                <span>Все услуги</span>
                <svg class="button__icon button__icon--arrow">
                  <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered mb-80 mbm-40">
      <div class="container">
        <div class="columns block-img">
          <div class="columns__col--6 columns__col-tab--12 block-img__content">
            <div class="section__header">
              <h2 class="title mb-20 mbm-15">Забирай <span class="decor decor--outline">1500 бонусов</span> на свой счет
              </h2>
              <div class="title__subtitle mb-30">
                Вы еще не с нами? Скорей забирайте бонусы! <br class="mob-hidden"> Первым 500 зарегистрированным
                пользователям <br class="mob-hidden"> начислим 1500
                бонусов на счет
              </div>
              <a class="button button--fill-second button--hover-transl button--mob-wide" href="#">
                <span>Хочу бонус</span>
                <svg class="button__icon button__icon--arrow">
                  <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="columns__col--6 columns__col-tab--12">
            <picture class="block-img__picture block-img__picture-laptop">
              <svg class="">
                <use xlink:href="./assets/sprite.svg#icon-laptop"></use>
              </svg>
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered triggered--from-right mb-120 mbm-20">
      <div class="container">
        <div class="columns">
          <div class="columns__col--12">
            <div class="section__header section__header--centered mb-45 mbm-30">
              <h2 class="title mb-20">Каталог</h2>
              <div class="title__subtitle">
                Ознакомьтесь с самыми популярными шаблонами веб-<br class="mob-hidden">сайтов недели. Они стоят вашего
                внимания
              </div>
            </div>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <%= htmlWebpackPlugin.options.cardProd %>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <%= htmlWebpackPlugin.options.cardProd %>
          </div>
          <div class="columns__col--6 columns__col-mob--12">
            <%= htmlWebpackPlugin.options.cardProd %>
          </div>
          <div class="columns__col--6 columns__col-mob--12 mb-55 mbm-0">
            <%= htmlWebpackPlugin.options.cardProd %>
          </div>
          <div class="columns__col--12">
            <a href="#" class="button button--fill button--mob-wide button--hover-rotate centered">
              <span>Смотреть весь каталог</span>
              <svg class="button__icon button__icon--arrow">
                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--color section__has-bg mb-120 pt-170 pb-100 ptm-25 pbm-30 mbm-30">
      <svg class="section__icon-bg">
        <use xlink:href="./assets/sprite.svg#icon-vortex"></use>
      </svg>
      <div class="section__content triggered triggered--from-left">
        <div class="container">
          <div class="columns block-img mb-35 mbm-30">
            <div class="columns__col--6 columns__col-tab--12 block-img__content">
              <div class="section__header">
                <h2 class="title mb-20 mbm-15"><span class="uppercase">fast.<strong
                  class="title--accent">online</strong></span> - это маркетплейс готовых решений для вашего бизнеса</h2>
                <div class="title__subtitle mb-30 mbm-0">
                  Тут текст про то на чем мы делаем шаблоны. Wordpress, Bitrix, Joomla, Opencart
                </div>
              </div>
            </div>
            <div class="columns__col--6 tab-hidden">
              <picture class="block-img__picture">
                <img src="./assets/images/icon-stack.svg" alt="">
              </picture>
            </div>
          </div>
          <div class="columns gap-mob-55">
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="card card-mini">
                <span class="card-mini__icon" style="--rotate:4.5deg">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-fire"></use>
                  </svg>
                </span>
                <div class="card__text-bold card-mini__title">Четкое ценообразование</div>
                <div class="card-mini__text">Чёткое понимание что и сколько стоит
                  Потому что дальше разработка сайта разбивается на микрозадачи по которым выставляется цена
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="card card-mini">
                <span class="card-mini__icon" style="--rotate:-5.5deg">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-shield"></use>
                  </svg>
                </span>
                <div class="card__text-bold card-mini__title">Надежность</div>
                <div class="card-mini__text">то что по сравнению с фрилансерами они подписывают договор об оказании
                  услуг, им присылаются все договора, акты и тд
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="card card-mini">
                <span class="card-mini__icon" style="--rotate:4.5deg">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-money"></use>
                  </svg>
                </span>
                <div class="card__text-bold card-mini__title">Низкие цены</div>
                <div class="card-mini__text">за счёт того что мы используем готовые решения и нароботки для реализации
                  решений на вашем сайте
                </div>
              </div>
            </div>
            <div class="columns__col--3 columns__col-tab--6 columns__col-mob--12">
              <div class="card card-mini">
                <span class="card-mini__icon" style="--rotate:-5.5deg">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-lightning"></use>
                  </svg>
                </span>
                <div class="card__text-bold card-mini__title">Быстрый вход в веб</div>
                <div class="card-mini__text">Быстрый вход в веб пространство, если у них первый сайт и они только хотят
                  попробовать рекламу себя в интернете
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered triggered--from-right mb-20 mbm-35">
      <div class="container">
        <div class="section__header section__header--centered mb-80 mbm-25">
          <h2 class="title mb-15">Оптимизируйте свой бизнес <br class="mob-hidden">вместе с нами</h2>
          <p class="title__subtitle mb-35">Ознакомьтесь с самыми популярными шаблонами веб-<br class="mob-hidden">сайтов
            недели. Они стоят вашего внимания</p>
          <a class="button button--fill button--wide mb-15" href="#">Смотреть все услуги</a>
          <a class="button button--light button--wide" data-fancybox href="#modalRewiew">Оставить отзыв</a>
        </div>
        <div class="columns align-items-end block-upper">
          <div class="columns__col--3 columns__col-laptop--12 columns__col-tab--6 columns__col-mob--12">
            <a class="card-ofr card-ofr--big" href="#" target="_blank">
              <div class="card-ofr--big__icon-bg card-ofr__icon-bg">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-three-round-line"></use>
                </svg>
              </div>
              <div class="card-ofr--big__content card-ofr__content">
                <div class="card-ofr--big__title card-ofr__title">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                  <span>Смотреть отзывы о нас</span>
                </div>
                <div class="card-ofr--big__text card-ofr__text">Посмотреть все отзывы или оставить свой отзыв можете
                  здесь
                </div>
              </div>
            </a>
          </div>
          <div class="columns__col--3 columns__col-laptop--4 columns__col-tab--6 columns__col-mob--12">
            <a class="card-ofr" style="--rotate: -3.22deg;  --translateX: 0" href="#" target="_blank">
              <div class="card-ofr__icon-bg">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-star-bubble"></use>
                </svg>
              </div>
              <div class="card-ofr__content">
                <div class="card-ofr__title">350+ <br class="mob-hidden">шаблонов</div>
                <div class="card-ofr__text">Мы постоянно пополняем коллекцию шаблонов для своих клиентов</div>
              </div>
            </a>
          </div>
          <div class="columns__col--2 columns__col-laptop--4 columns__col-tab--6 columns__col-mob--12">
            <a class="card-ofr card-ofr--green" style="--rotate: 2.33deg; --translateX: 10px" href="#" target="_blank">
              <div class="card-ofr--green__icon-bg card-ofr__icon-bg">
                <svg>
                  <use xlink:href="./assets/sprite.svg#icon-multipoint-star"></use>
                </svg>
              </div>
              <div class="card-ofr__content">
                <div class="card-ofr__title">85% довольных клиентов</div>
                <div class="card-ofr__text">Станьте одним из них</div>
              </div>
            </a>
          </div>
          <div class="columns__col--4 columns__col-laptop--4 columns__col-tab--6 columns__col-mob--12">
            <div class="card-ofr card-ofr--extra-big" style="--rotate: 3.88deg; --translateX: 29px">
              <picture class="card-ofr__picture-bg">
                <img src="./assets/images/img-2.jpg" alt="">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered triggered--from-left mb-115 mbm-30">
      <div class="container">
        <a class="block-color" href="#" target="_blank">
          <div class="columns">
            <div class="columns__col--6 columns__col-tab--12">
              <div class="block-color__content">
                <h2 class="title title--extra mb-10"><span class="decor decor--outline">Не подходит </span> <br>ни
                  один шаблон?</h2>
                <div class="title__subtitle mb-30">Закажите индивидуальную разработку <br class="mob-hidden"> сайта у
                  наших партнеров!
                </div>
                <svg class="block-color__icon-bg">
                  <use xlink:href="./assets/sprite.svg#icon-star-bubble"></use>
                </svg>
              </div>
            </div>
            <div class="columns__col--6 columns__col-tab--12">
              <div class="block-color__badge">
                <div class="badge badge--color">
                  <svg class="badge__icon badge__icon-text badge--color__icon-text">
                    <use xlink:href="./assets/sprite.svg#icon-badge-order"></use>
                  </svg>
                  <svg class="badge__icon badge__icon-arrow badge--color__icon-arrow">
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <section class="section triggered mb-145 mbm-30">
      <div class="container">
        <div class="section__header section__header-justify mb-75 mbm-15">
          <h2 class="title">Лучшие новости из блога</h2>
          <a class="button button--outline button--hover-transl tab-hidden" href="#" target="_blank">
            <span>Смотреть другие посты</span>
            <svg class="button__icon button__icon--arrow">
              <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
            </svg>
          </a>
        </div>
        <div class="block-news">
          <div class="block-news__inner">
            <a class="card card-news block-news__item" href="#" target="_blank">
              <div class="card-news__top">
                <button class="card-news__top-icon" type="button">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <picture class="card-news__top-pic">
                  <img src="./assets/images/img-news-1.jpg" alt="">
                </picture>
              </div>
              <div class="card-news__bottom">
                <div class="card-news__type">Digital</div>
                <div class="card__text-bold card-news__title">Тестировщик в IT: узнай, подходит ли тебе профессия</div>
              </div>
            </a>
            <a class="card card-news block-news__item block-news__item--extra" href="#" target="_blank">
              <div class="card-news__top block-news__item--extra-top">
                <button class="card-news__top-icon" type="button">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <picture class="card-news__top-pic">
                  <img src="./assets/images/img-news-2.jpg" alt="">
                </picture>
              </div>
              <div class="card-news__bottom block-news__item--extra-bottom">
                <div class="card-news__type">Digital</div>
                <div class="card__text-bold card-news__title">Что делать, если выгораешь на работе</div>
              </div>
            </a>
            <a class="card card-news block-news__item block-news__item--md" href="#" target="_blank">
              <div class="card-news__top">
                <button class="card-news__top-icon" type="button">
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                  </svg>
                </button>
                <picture class="card-news__top-pic">
                  <img src="./assets/images/img-news-3.jpg" alt="">
                </picture>
              </div>
              <div class="card-news__bottom">
                <div class="card-news__type">Digital</div>
                <div class="card__text-bold card-news__title">От стажера до тимлида – полный гайд по карьере
                  тестировщика
                </div>
              </div>
            </a>
          </div>

          <a class="button button--outline button--mob-wide button--hover-transl centered tab-visible" href="#"
             target="_blank">
            <span>Смотреть другие посты</span>
            <svg class="button__icon button__icon--arrow">
              <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>
    <section class="section triggered mb-120 mbm-30">
      <div class="container">
        <div class="section__header section__header--centered mb-55 mbm-15">
          <h2 class="title">Эти клиенты уже <br class="mob-hidden"> пользуются <span class="uppercase">fast.<strong
            class="title--accent">online</strong></span></h2>
        </div>
        <div class="slider" data-slider data-slider-slides="4" data-slider-slides-tab="3" data-slider-desktop>
          <div class="swiper">
            <div class="swiper-wrapper slider__mob-grid">
              <div class="swiper-slide">
                <a class="card-client" href="#" target="_blank">
                  <picture class="card-client__pic">
                    <img src="./assets/images/logo-client-1.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-client" href="#" target="_blank">
                  <picture class="card-client__pic">
                    <img src="./assets/images/logo-client-2.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-client" href="#" target="_blank">
                  <picture class="card-client__pic">
                    <img src="./assets/images/logo-client-3.png" alt="">
                  </picture>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="card-client" href="#" target="_blank">
                  <picture class="card-client__pic">
                    <img src="./assets/images/logo-client-4.png" alt="">
                  </picture>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section triggered section--color pt-110 pb-100 ptm-30 pbm-35">
      <div class="container">
        <div class="section__header section__header--centered mb-60 mbm-15">
          <h2 class="title">Вопрос-ответ</h2>
        </div>
        <div class="collapse answer" data-collapse data-duration="700">
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger active" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button active" data-collapse-icon></span>
              </div>
              <div class="collapse__content collapse-show" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite. И
                    ещё немного текста. Вдруг будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>