@import "modules/body";
@import "modules/breadcrumbs";
@import "modules/main";
@import "modules/container";
@import "modules/section";
@import "modules/main-container";
@import "modules/columns";
@import "modules/triggered";
@import "modules/pagination";
@import "modules/sticky";

//UI

@import "modules/back-to-top";
@import "modules/badge";
@import "modules/char";
@import "modules/bullet";
@import "modules/button";
@import "modules/cart";
@import "modules/collapse";
@import "modules/decor";
@import "modules/editor";
@import "modules/sorting";
@import "modules/filter-catalog";
@import "modules/filter";
@import "modules/filter-toolbar";
@import "modules/form";
@import "modules/input";
@import "modules/label";
@import "modules/link";
@import "modules/list";
@import "modules/modal";
@import "modules/rating";
@import "modules/tabs";
@import "modules/tabs-card";
@import "modules/title";
@import "modules/search";
@import "modules/card";
@import "modules/card-cat";
@import "modules/card-client";
@import "modules/card-mini";
@import "modules/card-news";
@import "modules/card-ofr";
@import "modules/card-prod";
@import "modules/card-review";
@import "modules/card-srv";
@import "modules/card-srv-detail";
@import "modules/srv-block-detail";
@import "modules/text";
@import "modules/picture-block";
@import "modules/stats";
@import "modules/info";
@import "modules/promo-block";
@import "modules/number";
@import "modules/decor-picture";
@import "modules/text-small";
@import "modules/payment-types";
@import "modules/decor-picture-guide";

//EDITOR

//BLOCKS
@import "modules/logo";
@import "modules/header";
@import "modules/nav";
@import "modules/menu-mobile";
@import "modules/answer";
@import "modules/block-img";
@import "modules/block-color";
@import "modules/block-news";
@import "modules/block-sort";
@import "modules/block-sort-grid";
@import "modules/burger";
@import "modules/intro";
@import "modules/slider";
@import "modules/tooltip";
@import "modules/prod-detail-card";
@import "modules/prod-detail-cms";
@import "modules/prod-detail-fav";
@import "modules/prod-detail-header";
@import "modules/prod-detail-info";
@import "modules/prod-detail-slide";
@import "modules/prod-detail-slide-thumb";
@import "modules/prod-detail-tabs";
@import "modules/prod-detail-tag";
@import "modules/reviews";
@import "modules/review-sticky-card";
@import "modules/footer";
@import "modules/local-features";
@import "modules/preview";


//MODALS

// ARTICLES
@import "modules/article-feature";
@import "modules/article-product";
@import "modules/article-advantages";