@keyframes item-scale {
  0% {
    transform: translate(-50%, -50%) scale(1)
  }
  30% {
    transform: translate(-50%, -50%) scale(1.1)
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2)
  }
  90% {
    transform: translate(-50%, -50%) scale(1.1)
  }
  100% {
    transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(5deg) scale(1);
  }
  20% {
    transform: translate(-50%, -50%) rotate(20deg) scale(1.1);
  }
  40% {
    transform: translate(-50%, -50%) rotate(5deg) scale(1.15);
  }
  60% {
    transform: translate(-50%, -50%) rotate(-20deg) scale(1.15);
  }
  80% {
    transform: translate(-50%, -50%) rotate(-5deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(5deg) scale(1);
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
    display: none;
    visibility: hidden;
  }

}
