// Colors
$color-light: #FFFFFF;
$color-dark: #222222;
$color-accent: #8A53FF;
$color-second: #BEF72E;
$color-secondDark: #B4ED24;
$color-text: #121212;
$color-gray: #F7F7F7;
$color-grayDark: #3A3A39;
$color-grayLight: #F4F4F9;
$color-grayPowder: #A2A2BF;
$color-purple: #B287FD;
$color-burgundyDark: #1B0029;
$color-blue: #1434CB;


// Fonts
$font-main: "Manrope", sans-serif;

$font-accent: "Mustica Pro", sans-serif;

$laptop: 1439.9;
$laptop-min: 1199.9;
$tablet: 1023.9;
$mobile: 767.9;
$mobileSmall: 424.9;
