<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <main class="main">
        <section class="section mt-30 mb-30 mtm-15 mbm-20">
            <div class="container">
                <%= htmlWebpackPlugin.options.breadcrumbs %>
            </div>
        </section>
        <section class="section mb-70 mbm-0">
            <div class="section__header mb-50 mbm-40">
                <div class="container">
                    <h1 class="title title--preview">
                        Ваш
                        <span>надежный партнер</span>
                        в цифровом мире
                    </h1>
                </div>
            </div>
        </section>
        <section class="section mb-150 mbm-100">
            <div class="container">
                <div class="columns columns--center">
                    <div class="columns__col--6 columns__col-laptop--5 columns__col-tab--12 order-tab--2">
                        <p class="text mb-45">Наша миссия — обеспечивать <span class="text__accent">быструю, высококачественную и экономичную разработку и поддержку
                            сайтов,</span> используя готовые платформы.</p>
                        <div class="local-features">
                            <article class="article-feature">
                                <svg class="article-feature__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-star-formed"></use>
                                </svg>
                                <p class="article-feature__text">
                                    Каждый проект =
                                    индивидуально
                                    подходящая
                                    команда проекта
                                </p>
                            </article>
                            <article class="article-feature">
                                <svg class="article-feature__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-star-formed"></use>
                                </svg>
                                <p class="article-feature__text">
                                    Каждый проект =
                                    индивидуально
                                    подходящая
                                    команда проекта
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="columns__col--6 columns__col-laptop--7 columns__col-tab--12 order-tab--1 mbt-90">
                        <div class="picture-block">
                            <picture class="picture-block__picture">
                                <img src="./assets/images/about-img.jpg" alt="">
                            </picture>
                            <div class="picture-block__badge badge badge--light">
                                <svg class="badge__icon badge__icon-text badge--light__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-badge-catalog"></use>
                                </svg>
                                <svg class="badge__icon badge__icon-arrow badge--light__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mb-150 mbm-20">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--5 columns__col-tab--6 columns__col-mob--12 mbm-60">
                        <h3 class="title title--small title--mobile mb-70 mbm-35">
                            Наши услуги охватывают не только предоставление готовых решений для интернет-магазинов и
                            веб-сайтов
                        </h3>
                        <div class="stats">
                            <div class="stats__item">
                                <p class="stats__title">2.3м</p>
                                <p class="stats__description">Скачиваний</p>
                            </div>
                            <div class="stats__item">
                                <p class="stats__title">4.9</p>
                                <p class="stats__description">Рейтинг</p>
                            </div>
                        </div>
                    </div>
                    <div class="columns__col--1 tab-hidden"></div>
                    <div class="columns__col--6 columns__col-tab--6 columns__col-mob--12">
                        <div class="info">
                            <picture class="info__picture">
                                <img src="./assets/images/icon-hourglass.svg" alt="">
                            </picture>
                            <div class="info__detail">
                                <h3 class="info__title">Заголовок</h3>
                                <p class="info__text">При создании генератора мы использовали небезизвестный
                                    универсальный код речей. Текст генерируется абзацами случайным образом от двух до
                                    десяти предложений в абзаце.</p>
                            </div>
                        </div>
                        <div class="info">
                            <picture class="info__picture">
                                <img src="./assets/images/icon-globe.svg" alt="">
                            </picture>
                            <div class="info__detail">
                                <h3 class="info__title">Заголовок</h3>
                                <p class="info__text">При создании генератора мы использовали небезизвестный
                                    универсальный код речей. Текст генерируется абзацами случайным образом от двух до
                                    десяти предложений в абзаце.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mb-150 mbm-100">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--12">
                        <div class="picture-block picture-block--full">
                            <picture class="picture-block__picture">
                                <img src="./assets/images/about-img-2.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section mb-190 mbm-100">
            <div class="container">
                <div class="section__header section__header--centered mb-50 mbm-20">
                    <div class="container">
                        <p class="title__subtitle title__subtitle--medium title--accent mb-10 center">Подзаголовок</p>
                        <h1 class="title title--medium center">Предлагаем<br/> крутые продукты</h1>
                    </div>
                </div>
                <div class="columns">
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Мебельный интернет-магазин Rimix Pro</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Книжный магазин</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Мебельный интернет-магазин Rimix Pro</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Мебельный интернет-магазин Rimix Pro</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Мебельный интернет-магазин Rimix Pro</div>
                            </div>
                        </a>
                    </div>
                    <div class="columns__col--4 columns__col-laptop-min--6 columns__col-mob--12">
                        <a class="card card-news card-news--transparent block-news__item block-news__item--extra"
                           href="#" target="_blank">
                            <div class="card-news__top block-news__item--extra-top">
                                <picture class="card-news__top-pic">
                                    <img src="./assets/images/news-item-1.png" alt="">
                                </picture>
                            </div>
                            <div class="card-news__bottom">
                                <div class="card-news__type">Интернет-магазины</div>
                                <div class="card__text-bold card-news__title">Мебельный интернет-магазин Rimix Pro</div>
                            </div>
                        </a>
                    </div>
                </div>
                <button class="button button--mob-wide button--fill only-mobile mt-15">Показать ещё +10</button>
            </div>
        </section>
        <!--        <section class="section section&#45;&#45;custom mb-150">-->
        <!--            <div class="preview">-->
        <!--                <div class="preview__decor">-->
        <!--                    <picture class="preview__picture">-->
        <!--                        <img src="./assets/images/img-preview.jpg" alt="">-->
        <!--                    </picture>-->
        <!--                    <picture class="preview__picture preview__picture&#45;&#45;backdrop">-->
        <!--                        <img src="./assets/images/img-preview.jpg" alt="">-->
        <!--                    </picture>-->
        <!--                </div>-->
        <!--                <div class="preview__detail">-->
        <!--                    <div class="section__header mb-40 mbm-20">-->
        <!--                        <p class="title__subtitle title__subtitle&#45;&#45;medium title&#45;&#45;accent mb-10">Подзаголовок</p>-->
        <!--                        <h1 class="title title&#45;&#45;medium">Рамки же представляет направлений подготовки показывает, соответствующий</h1>-->
        <!--                    </div>-->
        <!--                    <div class="editor">-->
        <!--                        <p>-->
        <!--                            И структура позволяет дальнейших сложившаяся а деятельности плановых идейные задания-->
        <!--                            прогрессивного образом финансовых соответствующий высшего показывает, порядка, также по-->
        <!--                            оценить позволяет важную активности задач. Выполнять задания показывает, подготовки высшего-->
        <!--                            существенных идейные подготовки а проверки оценить сфера активности активизации. Место-->
        <!--                            повседневная существенных задач. Отношении реализация рост количественный порядка,-->
        <!--                            постоянный нашей показывает, образом равным и организационной поставленных порядка,-->
        <!--                            организации существенных интересный позволяет также организационной анализа сфера анализа-->
        <!--                            анализа развития.-->
        <!--                        </p>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </section>-->
        <section class="section mb-150">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--2 mob-hidden"></div>
                    <div class="columns__col--8 columns__col-tab--12">
                        <h2 class="title title--medium mb-40">Описание работы сервиса</h2>
                        <div class="editor">
                            <h3>Как начать работу</h3>
                            <ol>
                                <li>
                                    Вход на сайт: Первый контакт с нашей платформой происходит, когда пользователь
                                    переходит на сайт, будь то через рекламу или поисковую систему.
                                </li>
                                <li>
                                    Выбор решения и услуг: На главной странице представлен каталог с различными
                                    предложениями. Пользователь выбирает необходимое решение, ознакамливается с перечнем
                                    услуг и отмечает желаемые для заказа.
                                </li>
                                <li>
                                    Оформление заказа: Для продолжения пользователю необходимо ввести свои контактные
                                    данные для связи и последующей работы над проектом.
                                </li>
                            </ol>
                            <h3>Обработка и выполнение заказа</h3>
                            <ol>
                                <li>
                                    Подтверждение и уточнение заказа: После оформления, заказ поступает в систему
                                    управления Bitrix24, где его берет на обработку проектный менеджер. Менеджер
                                    связывается с клиентом для подтверждения заказа и уточнения деталей.
                                </li>
                                <li>
                                    Оплата: После согласования всех деталей, проектный менеджер высылает ссылку для
                                    оплаты. После поступления денег, заказ переводится в статус "Оплачено".
                                </li>
                                <li>
                                    Выполнение задачи: Исполнитель приступает к работе. По завершению, проектный
                                    менеджер проверяет результат и, если все выполнено правильно, информирует клиента о
                                    завершении.
                                </li>
                            </ol>
                            <h3>Личный кабинет и управление заказами</h3>
                            <ol>
                                <li>
                                    Регистрация и авторизация: Новым пользователям необходимо зарегистрироваться, чтобы
                                    иметь возможность заказывать услуги и управлять заказами через личный кабинет.
                                </li>
                                <li>
                                    Управление заказами: В личном кабинете клиент видит список всех своих заказов с
                                    указанием их статусов и управляющими кнопками, такими как оплата и общение с
                                    менеджером.
                                </li>
                                <li>
                                    Нотификации и статусы: Клиент получает уведомления о каждом изменении статуса
                                    заказа, что позволяет ему быть в курсе всех этапов выполнения.
                                </li>
                            </ol>
                            <h3>Работа исполнителей и проектных менеджеров</h3>
                            <ol>
                                <li>
                                    Личные кабинеты: Кабинеты проектных менеджеров и исполнителей позволяют следить за
                                    задачами, проектами и финансами, с возможностью управления и вывода заработанных
                                    средств.
                                </li>
                                <li>
                                    Задачи и проекты: Все задачи доступны для просмотра и выполнения с возможностью
                                    фильтрации по разным параметрам, упрощая процесс выбора заданий и управления
                                    проектами.
                                </li>
                                <li>
                                    Коммуникации и выполнение: Проектные менеджеры ведут коммуникацию с клиентами и
                                    исполнителями, обеспечивая гладкость процессов, в то время как исполнители могут
                                    общаться только с менеджерами.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
    <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>