<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section mt-30 mb-30 mtm-15 mbm-20">
      <div class="container">
        <%= htmlWebpackPlugin.options.breadcrumbs %>
      </div>
    </section>
    <section class="section mb-50">
      <div class="container">
        <div class="section__header mb-15">
          <h1 class="title">Готовый шаблон PizzaClub</h1>
        </div>
        <div class="prod-detail-header">
          <div class="columns">
            <div class="columns__col--5 columns__col-laptop--6 columns__col-tab--12">
              <div class="prod-detail-header__block">
                <div class="rating order-tab--1">
                  <div class="rating__stars" data-rating="4">
                    <svg class="rating__stars-icon">
                      <use xlink:href="./assets/sprite.svg#icon-star"></use>
                    </svg>
                    <svg class="rating__stars-icon">
                      <use xlink:href="./assets/sprite.svg#icon-star"></use>
                    </svg>
                    <svg class="rating__stars-icon">
                      <use xlink:href="./assets/sprite.svg#icon-star"></use>
                    </svg>
                    <svg class="rating__stars-icon">
                      <use xlink:href="./assets/sprite.svg#icon-star"></use>
                    </svg>
                    <svg class="rating__stars-icon">
                      <use xlink:href="./assets/sprite.svg#icon-star"></use>
                    </svg>
                  </div>
                </div>
                <div class="prod-detail-tag order-tab--3">Диджитал маркетинг</div>
                <button class="prod-detail-fav order-tab--2" type="button" data-fav data-fav-text>
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-fav"></use>
                  </svg>
                  <span data-fav-text-tmpl="В избранном" data-fav-text-remove="В избранное">В избранное</span>
                </button>
                <div class="prod-detail-cms tab-visible order-tab--4">
                  <div class="prod-detail-cms__text">Bitrix</div>
                  <picture class="prod-detail-cms__pic">
                    <img src="./assets/images/logo-bitrix.png" alt="Bitrix">
                  </picture>
                </div>
              </div>
            </div>
            <div class="columns__col--7 columns__col-laptop--6 flex justify-content-end tab-hidden">
              <div class="prod-detail-header__block">
                <div class="prod-detail-info">Опубликовано:
                  <time datetime="2023-05-12">12.05.23</time>
                </div>
                <div class="prod-detail-info">установили 25 раз</div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="columns__col--8 columns__col-laptop--7 columns__col-tab--12">
            <div class="slider mb-45 mbm-0">
              <div class="swiper slider__top" data-slider-top>
                <div class="swiper-wrapper slider-top__wrapper">
                  <div class="swiper-slide">
                    <div class="slider__top-slide">
                      <a class="prod-detail-slide" href="./assets/images/card-img-1.jpg" data-swiper-slide-index="1"
                         data-fancybox="swiper-gallery" data-type="image">
                        <img src="./assets/images/card-img-1.jpg" alt="Шаблон">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__top-slide">
                      <a class="prod-detail-slide" href="./assets/images/card-img-2.jpg"
                         data-swiper-slide-index="2"
                         data-fancybox="swiper-gallery" data-type="image">
                        <img src="./assets/images/card-img-2.jpg" alt="Шаблон">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__top-slide">
                      <a class="prod-detail-slide" href="./assets/images/card-img-3.jpg"
                         data-swiper-slide-index="3"
                         data-fancybox="swiper-gallery" data-type="image">
                        <img src="./assets/images/card-img-3.jpg" alt="Шаблон">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__top-slide">
                      <a class="prod-detail-slide" href="./assets/images/img-news-3.jpg"
                         data-swiper-slide-index="3"
                         data-fancybox="swiper-gallery" data-type="image">
                        <img src="./assets/images/img-news-3.jpg" alt="Шаблон">
                      </a>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider__top-slide">
                      <a class="prod-detail-slide" href="./assets/images/img-news-3.jpg"
                         data-swiper-slide-index="3"
                         data-fancybox="swiper-gallery" data-type="image">
                        <img src="./assets/images/img-news-3.jpg" alt="Шаблон">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="slider__controls slider__controls--absolute mob-hidden">
                  <button class="slider__button slider__button--prev" data-slider-prev>
                    <svg>
                      <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                  <button class="slider__button slider__button--next" data-slider-next>
                    <svg>
                      <use xlink:href="./assets/sprite.svg#icon-arrow-min"></use>
                    </svg>
                  </button>
                </div>
                <div class="slider__pagination" data-slider-pagination></div>
              </div>
              <div class="swiper slider__bottom" data-slider-bottom>
                <div class="swiper-wrapper slider-bottom__wrapper">
                  <div class="swiper-slide">
                    <div class="slider-bottom__slide">
                      <div class="prod-detail-slide-thumb" data-swiper-slide-index="1">
                        <img src="./assets/images/card-img-1.jpg" alt="Шаблон">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-bottom__slide">
                      <div class="prod-detail-slide-thumb" data-swiper-slide-index="2">
                        <img src="./assets/images/card-img-2.jpg" alt="Шаблон">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-bottom__slide">
                      <div class="prod-detail-slide-thumb" data-swiper-slide-index="3">
                        <img src="./assets/images/card-img-3.jpg" alt="Шаблон">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-bottom__slide">
                      <div class="prod-detail-slide-thumb" data-swiper-slide-index="4">
                        <img src="./assets/images/img-news-3.jpg" alt="Шаблон">
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slider-bottom__slide">
                      <div class="prod-detail-slide-thumb" data-swiper-slide-index="5">
                        <img src="./assets/images/img-news-3.jpg" alt="Шаблон">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs prod-detail-tabs tab-hidden" data-tabs-container>
              <div class="tabs__controls prod-detail-tabs__controls">
                <div class="tabs__trigger prod-detail-tabs__trigger active" data-tabs-trigger data-tabs="tab-1">
                  <p>Описание</p>
                </div>
                <div class="tabs__trigger prod-detail-tabs__trigger" data-tabs-trigger data-tabs="tab-2">
                  <p>Список страниц</p>
                </div>
              </div>
              <ul class="tabs__list">
                <li class="tabs__item active" id="tab-1" data-tabs-list>
                  <div class="prod-detail-tabs__inner">
                    <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой
                      процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
                      Товарищи! новая модель организационной деятельности обеспечивает широкому кругу (специалистов)
                      участие в формировании форм развития. Разнообразный и богатый опыт постоянное
                      информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа дальнейших
                      направлений развития. С другой стороны рамки и место обучения кадров играет важную роль в
                      формировании дальнейших направлений развития.
                    </p>
                  </div>
                </li>
                <li class="tabs__item" id="tab-2" data-tabs-list>
                  <div class="prod-detail-tabs__inner">
                    <ol class="list list--numbered">
                      <li>Главная</li>
                      <li>Каталог</li>
                      <li>Детальная страница товара</li>
                      <li>О нас</li>
                      <li>Контакты</li>
                    </ol>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="columns__col--4 columns__col-laptop--5 columns__col-tab--12">
            <div class="prod-detail-card">
              <div class="prod-detail-card__header">
                <div class="prod-detail-card__price-wrap">
                  <div class="prod-detail-card__current-price">9.000 ₽</div>
                  <div class="prod-detail-card__old-price">15.000 ₽</div>
                </div>
                <div class="prod-detail-cms tab-hidden">
                  <div class="prod-detail-cms__text">Bitrix</div>
                  <picture class="prod-detail-cms__pic">
                    <img src="./assets/images/logo-bitrix.png" alt="Bitrix">
                  </picture>
                </div>
              </div>
              <div class="prod-detail-card__serv" data-show-wrap>
                <div class="prod-detail-card__serv-header">
                  <p>Добавить доп. услуги:</p>
                  <div class="tooltip" data-tooltip="Какое-то сообщение с пояснением чё каво">
                    <svg>
                      <use xlink:href="./assets/sprite.svg#icon-qmark"></use>
                    </svg>
                  </div>
                </div>
                <div class="prod-detail-card__serv-body" data-show-block>
                  <form action="#">
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона</span>
                      </label>
                      <p class="prod-detail-card__form-price">0 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона на CMS</span>
                      </label>
                      <p class="prod-detail-card__form-price">5.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Наполнение контентом</span>
                      </label>
                      <p class="prod-detail-card__form-price">10.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Регистрация домена ru</span>
                      </label>
                      <p class="prod-detail-card__form-price">1.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона</span>
                      </label>
                      <p class="prod-detail-card__form-price">0 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона на CMS</span>
                      </label>
                      <p class="prod-detail-card__form-price">5.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Наполнение контентом</span>
                      </label>
                      <p class="prod-detail-card__form-price">10.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Регистрация домена ru</span>
                      </label>
                      <p class="prod-detail-card__form-price">1.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона</span>
                      </label>
                      <p class="prod-detail-card__form-price">0 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона на CMS</span>
                      </label>
                      <p class="prod-detail-card__form-price">5.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Наполнение контентом</span>
                      </label>
                      <p class="prod-detail-card__form-price">10.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Регистрация домена ru</span>
                      </label>
                      <p class="prod-detail-card__form-price">1.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона</span>
                      </label>
                      <p class="prod-detail-card__form-price">0 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="" checked>
                        <span>Установка шаблона на CMS</span>
                      </label>
                      <p class="prod-detail-card__form-price">5.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Наполнение контентом</span>
                      </label>
                      <p class="prod-detail-card__form-price">10.000 ₽</p>
                    </div>
                    <div class="prod-detail-card__form-item">
                      <label>
                        <input type="checkbox" name="">
                        <span>Регистрация домена ru</span>
                      </label>
                      <p class="prod-detail-card__form-price">1.000 ₽</p>
                    </div>
                  </form>
                </div>
                <button class="link prod-detail-card__show-all" type="button" data-show-trigger="Все услуги">
                  <span>Все услуги</span>
                  <svg>
                    <use xlink:href="./assets/sprite.svg#icon-pagination"></use>
                  </svg>
                </button>
              </div>
              <div class="prod-detail-card__bottom">
                <div class="prod-detail-card__bottom-text mb-30">Конечная цена зависит от выбранных опций</div>
                <div class="prod-detail-card__btn-wrap">
                  <a class="button button--fill button--hover-scale prod-detail-card__btn-wrap-item" href="#">
                    <span>Демо</span>
                    <svg>
                      <use xlink:href="./assets/sprite.svg#icon-four-arrows"></use>
                    </svg>
                  </a>
                  <button class="button button--fill-second button--hover-transl prod-detail-card__btn-wrap-item"
                          type="button" data-add-to-cart>
                    <span>В корзину</span>
                    <svg>
                      <use xlink:href="./assets/sprite.svg#icon-cart"></use>
                    </svg>
                  </button>
                </div>
                <div class="prod-detail-card__bottom-text mb-30">Вы приобретаете неисключительную лицензию. <br> <a
                  class="link link--underline"
                  href="#">Что это значит?</a></div>
                <div class="prod-detail-card__result-price">
                  <span class="prod-detail-card__result-price-text">Итого:</span>
                  <span>14.000 ₽</span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns__col-tab--12 tab-visible">
            <div class="tabs prod-detail-tabs" data-tabs-container>
              <div class="tabs__controls prod-detail-tabs__controls">
                <div class="tabs__trigger prod-detail-tabs__trigger active" data-tabs-trigger data-tabs="tab-mob-1">
                  <p>Описание</p>
                </div>
                <div class="tabs__trigger prod-detail-tabs__trigger" data-tabs-trigger data-tabs="tab-mob-2">
                  <p>Список страниц</p>
                </div>
              </div>
              <ul class="tabs__list">
                <li class="tabs__item active" id="tab-mob-1" data-tabs-list>
                  <div class="prod-detail-tabs__inner">
                    <p>Не следует, однако забывать, что дальнейшее развитие различных форм деятельности влечет за собой
                      процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач.
                      Товарищи! новая модель организационной деятельности обеспечивает широкому кругу (специалистов)
                      участие в формировании форм развития. Разнообразный и богатый опыт постоянное
                      информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа дальнейших
                      направлений развития. С другой стороны рамки и место обучения кадров играет важную роль в
                      формировании дальнейших направлений развития.
                    </p>
                  </div>
                </li>
                <li class="tabs__item" id="tab-mob-2" data-tabs-list>
                  <div class="prod-detail-tabs__inner">
                    <ol class="list list--numbered">
                      <li>Главная</li>
                      <li>Каталог</li>
                      <li>Детальная страница товара</li>
                      <li>О нас</li>
                      <li>Контакты</li>
                    </ol>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mb-115 mbm-20">
      <div class="container">
        <div class="columns">
          <div class="columns__col--8 columns__col-laptop--12">
            <div class="section__header section__header-justify section__header-mob-column mb-50">
              <h2 class="title title--small">Отзывы покупателей</h2>
              <a class="button button--outline" href="#">Оставить отзыв</a>
            </div>
            <div class="reviews mb-30">
              <%= htmlWebpackPlugin.options.cardReview %>
              <%= htmlWebpackPlugin.options.cardReview %>
              <%= htmlWebpackPlugin.options.cardReview %>
              <%= htmlWebpackPlugin.options.cardReview %>
            </div>
            <div class="tab-hidden">
              <%= htmlWebpackPlugin.options.pagination %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section--color pt-120 pb-120 ptm-30 pbm-30">
      <div class="container">
        <div class="section__header section__header--centered mb-60">
          <h2 class="title mb-20">Вопрос-ответ</h2>
          <div class="title__subtitle">Здесь вы найдете самые популярные вопросы, которые <br class="mob-hidden"> могут
            возникнуть у
            пользователей нашего проекта
          </div>
        </div>
        <div class="collapse answer" data-collapse data-duration="700">
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger active" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button active" data-collapse-icon></span>
              </div>
              <div class="collapse__content collapse-show" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite. И
                    ещё немного текста. Вдруг будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                    будет очень длинное название. Мы же не знаем что тут будет. Мы
                    бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse__wrapper answer__wrapper">
            <div class="collapse__item" data-collapse-item>
              <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                <p>Могу ли я отменить свою подписку в любое время?</p>
                <span class="answer__button" data-collapse-icon></span>
              </div>
              <div class="collapse__content" data-collapse-content>
                <div class="collapse__inner answer__inner">
                  <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>