<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section mt-30 mb-30 mtm-15 mbm-20">
      <div class="container">
        <%= htmlWebpackPlugin.options.breadcrumbs %>
      </div>
    </section>
    <section class="section">
      <div class="container">

      </div>
    </section>

  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>