<!DOCTYPE html>
<html lang="ru">
<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
  <%= htmlWebpackPlugin.options.sectionHeader %>
  <main class="main">
    <section class="section mt-30 mb-30 mtm-15 mbm-20">
      <div class="container">
        <%= htmlWebpackPlugin.options.breadcrumbs %>
      </div>
    </section>
    <section class="section">
      <div class="section__header mb-50 mbm-20">
        <div class="container">
          <h1 class="title">Вопрос-ответ</h1>
        </div>
      </div>
      <div class="section--color pt-120 pb-120 ptm-30 pbm-30">
        <div class="container">
          <div class="collapse answer" data-collapse data-duration="700">
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger active" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button active" data-collapse-icon></span>
                </div>
                <div class="collapse__content collapse-show" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite. И
                      ещё немного текста. Вдруг будет очень длинное название. Мы же не знаем что тут будет. Мы
                      бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                      будет очень длинное название. Мы же не знаем что тут будет. Мы
                      бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                      будет очень длинное название. Мы же не знаем что тут будет. Мы
                      бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                      будет очень длинное название. Мы же не знаем что тут будет. Мы
                      бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть. И ещё немного текста. Вдруг
                      будет очень длинное название. Мы же не знаем что тут будет. Мы
                      бы хотели, но мы не знаем. Страшно, очень страшно что тут может быть.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse__wrapper answer__wrapper">
              <div class="collapse__item" data-collapse-item>
                <div class="collapse__trigger answer__trigger" data-collapse-trigger>
                  <p>Могу ли я отменить свою подписку в любое время?</p>
                  <span class="answer__button" data-collapse-icon></span>
                </div>
                <div class="collapse__content" data-collapse-content>
                  <div class="collapse__inner answer__inner">
                    <p>Конечно. Ваша платная подписка может быть отменена в любое время, перейдя на тарифный план Lite</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%= htmlWebpackPlugin.options.sectionFooter %>
  <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>