<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<div class="main-container">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <main class="main">
        <section class="section mt-30 mb-30 mtm-15 mbm-20">
            <div class="container">
                <%= htmlWebpackPlugin.options.breadcrumbs %>
            </div>
        </section>
        <section class="section mb-70">
            <div class="section__header section__header--centered mb-120 mbm-20">
                <div class="container">
                    <h1 class="title center mb-25">Как <span class="title title--accent">пользоваться</span> сервисом</h1>
                    <p class="title__subtitle title__subtitle--medium center">
                        В нашем маркетплейсе вы найдете широкий <br/> ассортимент готовых веб-сайтов и
                        интернет-магазинов <br/> для самых разнообразных направлений бизнеса.
                    </p>
                </div>
            </div>
        </section>
        <section class="section mb-270 mbm-0">
            <div class="container">
                <div class="promo-block promo-block--purple">
                    <picture class="promo-block__picture">
                        <img src="./assets/images/icon-line-curve.svg" alt="">
                    </picture>
                    <img class="promo-block__item" src="./assets/images/preview-1.png" alt="">
                    <img class="promo-block__item" src="./assets/images/preview-2.png" alt="">
                    <img class="promo-block__item" src="./assets/images/preview-3.png" alt="">
                </div>
            </div>
        </section>
        <section class="section section--color section--background pt-230 ptm-80 pbm-600 pb-240"
                 style="background-image: url('./assets/images/mockup.png')">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--5 columns__col-laptop--6 columns__col-tab--12">
                        <div class="number mb-40 mbm-25" style="background-image: url('./assets/images/icon-curve.svg')">
                            <p class="number__text">1</p>
                        </div>
                        <h2 class="title title--small title--tablet">
                            Используйте <span class="title--accent">удобный фильтр</span>
                            в каждой категории, чтобы подобрать идеальный вариант, отталкиваясь от тематики, ценовой
                            категории и других важных критериев.
                        </h2>
                    </div>
                    <div class="columns__col--7 columns__col-laptop--6 columns__col-tab--12">
                        <img class="decor-picture" src="./assets/images/filter.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section pt-160 pb-160 ptm-90 pbm-90 section--background"
                 style="background-image: url('./assets/images/icon-curve-2.svg')">
            <div class="container mbt-40">
                <div class="columns">
                    <div class="columns__col--4 columns__col-tab--12">
                        <div class="number mb-40 mbm-25" style="background-image: url('./assets/images/icon-curve.svg')">
                            <p class="number__text">2</p>
                        </div>
                        <h2 class="title title--tablet title--extra-small mb-30">
                            Для интеграции и последующего управления приобретенным продуктом, вам потребуется платформа
                            управления контентом Битрикс, которая позволяет вносить изменения в ваш сайт или
                            интернет-магазин без глубоких знаний в программировании.
                        </h2>
                        <p class="text-small">
                            Подробности о каждом продукте, включая цену
                            и ссылку на демо-версию, а также совместимые версии Битрикс и условия покупки, вы найдете на
                            странице товара.
                        </p>
                    </div>
                    <div class="columns__col--4 tab-hidden">
                        <article class="article-product mt-160">
                            <picture class="article-product__picture article-product__picture--purple">
                                <img src="./assets/images/bitrix.png" alt="">
                            </picture>
                            <p class="article-product__detail">
                                Покупка только готового решения, предназначенная для пользователей, уже работающих на
                                платформе Битрикс с необходимым функционалом. Предлагается возможность покупки в
                                рассрочку на 12 месяцев без дополнительных переплат.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--4 tab-hidden">
                        <article class="article-product">
                            <picture class="article-product__picture article-product__picture--green">
                                <img src="./assets/images/bitrix.png" alt="">
                            </picture>
                            <p class="article-product__detail">
                                Приобретение полного комплекта для запуска, который включает в себя как выбранное
                                решение, так и необходимую версию Битрикс, с преимуществом получения скидки и бесплатной
                                установки.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="container only-tablet">
                <div class="columns">
                    <div class="columns__col--12">
                        <div class="slider slider--visible" data-slider data-slider-slides-tab="2">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-product mt-160 mtt-0">
                                            <picture class="article-product__picture article-product__picture--purple">
                                                <img src="./assets/images/bitrix.png" alt="">
                                            </picture>
                                            <p class="article-product__detail">
                                                Покупка только готового решения, предназначенная для пользователей, уже работающих на
                                                платформе Битрикс с необходимым функционалом. Предлагается возможность покупки в
                                                рассрочку на 12 месяцев без дополнительных переплат.
                                            </p>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-product">
                                            <picture class="article-product__picture article-product__picture--green">
                                                <img src="./assets/images/bitrix.png" alt="">
                                            </picture>
                                            <p class="article-product__detail">
                                                Приобретение полного комплекта для запуска, который включает в себя как выбранное
                                                решение, так и необходимую версию Битрикс, с преимуществом получения скидки и бесплатной
                                                установки.
                                            </p>
                                        </article>
                                    </div>
                                </div>
                                <div class="slider__pagination" data-slider-pagination></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--color section--background pt-55 ptm-50 pb-55 pbm-50 mb-160 mbm-90"
                 style="background-image: url('./assets/images/icon-vortex.svg'); background-position: center right; background-size: contain">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--5 columns__col-tab--12 order-tab--2 z-index-1">
                        <div class="number mb-40 mbt-375" style="background-image: url('./assets/images/icon-curve.svg')">
                            <p class="number__text">3</p>
                        </div>
                        <h2 class="title title--tablet title--extra-small mb-40">
                            Для оформления заказа добавьте товары в корзину
                            и просто нажмите на кнопку «Заказать»,
                            расположенную в правом верхнем углу страницы.<br/><br/>
                            Кроме того, наш маркетплейс предлагает услуги
                            по верстке, дизайну и SEO-продвижению, расширяя горизонты вашего бизнеса. И если вам нужны
                            готовые решения не только для Битрикс, но и для таких
                            платформ как WordPress, Joomla или Opencart,
                            вы обязательно найдете что-то подходящее у нас.
                        </h2>
                        <a class="button button--fill" href="#">Перейти в каталог</a>
                    </div>
                    <div class="columns__col--7 columns__col-tab--12 order-tab--1">
                        <img class="decor-picture-guide" src="./assets/images/payment-guide.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="section mb-100">
            <div class="section__header section__header--centered mb-90 mbm-20">
                <div class="container">
                    <h1 class="title center mb-25">Способы <span class="title title--accent">оплаты</span></h1>
                    <p class="title__subtitle title__subtitle--medium center">
                        Мы стремимся предложить вам максимально<br/> удобные и безопасные способы оплаты.
                    </p>
                </div>
            </div>
            <div class="container">
                <article class="article-advantages pt-160 ptm-20 pb-160 pbm-215 mb-40 mbm-140">
                    <div class="columns">
                        <div class="columns__col--1 tab-hidden"></div>
                        <div class="columns__col--5 columns__col-tab--12">
                            <div class="article-advantages__detail">
                                <div class="payment-types mb-50 mbm-20">
                                    <div class="payment-types__item">
                                        <img src="./assets/images/logo-visa.png" alt="">
                                    </div>
                                    <div class="payment-types__item">
                                        <img src="./assets/images/logo-mastercard.png" alt="">
                                    </div>
                                    <div class="payment-types__item">
                                        <img src="./assets/images/logo-sber.png" alt="">
                                    </div>
                                    <div class="payment-types__item">
                                        <img src="./assets/images/logo-mir.png" alt="">
                                    </div>
                                    <div class="payment-types__item">
                                        <img src="./assets/images/logo-union.png" alt="">
                                    </div>
                                </div>
                                <h2 class="article-advantages__title title title--small">Банковские карты</h2>
                                <ul class="article-advantages__list">
                                    <li class="article-advantages__item">
                                        Оплатить заказ можно с помощью банковских карт через Интернет с использованием
                                        систем электронных платежей. Важно, чтобы номер карты (PAN) содержал от 15 до 19
                                        символов.
                                    </li>
                                    <li class="article-advantages__item">
                                        Мы поддерживаем платежи с помощью карт Visa, MasterCard, МИР, UnionPay, SberPay,
                                        Белкарт, обеспечивая широкий выбор вариантов для наших клиентов.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="columns__col--6 columns__col-tab--12">
                            <img class="article-advantages__img" src="./assets/images/cards.png" alt=""
                                 style="right: 0">
                        </div>
                    </div>
                </article>
                <article class="article-advantages pt-125 ptm-20 pb-125 pbm-260 mb-40">
                    <div class="columns">
                        <div class="columns__col--6 columns__col-tab--12 order-tab--2">
                            <img class="article-advantages__img article-advantages__img--second" src="./assets/images/sbp.png" alt=""
                                 style="left: 0;">
                        </div>
                        <div class="columns__col--5  columns__col-tab--12 order-tab--1">
                            <div class="article-advantages__detail">
                                <h2 class="article-advantages__title title title--small">Система Быстрых Платежей</h2>
                                <ul class="article-advantages__list">
                                    <li class="article-advantages__item">
                                        СБП представляет собой сервис платежной системы Банка России, позволяющий
                                        физическим лицам оплачивать товары и услуги через любой банк-участник этой
                                        системы.
                                    </li>
                                    <li class="article-advantages__item">
                                        Полный список банков-участников СБП доступен на официальном сайте системы
                                        быстрых платежей.
                                    </li>
                                    <li class="article-advantages__item">
                                        Безопасность каждого перевода гарантирована благодаря современным системам
                                        защиты, действующим на стороне всех участников СБП: от банков до Банка России и
                                        НСПК. Система соответствует всем мировым стандартам информационной безопасности.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="section mb-150">
            <div class="container">
                <div class="columns">
                    <div class="columns__col--9 columns__col-laptop-min--12">
                        <h3 class="title title--extra-small mb-25">Условия гарантии</h3>
                        <p class="title__subtitle mb-50">
                            Наши программные продукты предоставляются на условиях "как есть". В случае обнаружения
                            ошибок, сбоев, функциональных несоответствий или других недостатков в процессе использования
                            продукта, все указанные проблемы будут решаться в рамках предоставляемой технической
                            поддержки. Ответственность за техническую поддержку каждого продукта несет его разработчик
                            или производитель. Инструкция по обращению за поддержкой, а также дополнительные детали
                            будут отправлены вам по электронной почте сразу после покупки продукта.
                        </p>
                        <h3 class="title title--extra-small mb-25">Политика возврата</h3>
                        <p class="title__subtitle">
                            Продажа программного обеспечения имеет свои особенности, отличающие ее от продажи физических
                            товаров или услуг. В связи с этим, программные продукты "1C-Битрикс", а также готовые
                            решения с "1C-Битрикс: Маркетплейс" не подлежат возврату.
                            Оплата программного продукта влечет за собой генерацию уникального лицензионного ключа,
                            который является ключевым элементом вашей покупки и активирует ваш экземпляр продукта или
                            доступ к нему. Создание лицензионного ключа фактически означает использование продукта,
                            исключая возможность его возврата. Поэтому мы настоятельно рекомендуем вам тщательно
                            ознакомиться с продуктом перед покупкой.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
    <%= htmlWebpackPlugin.options.temp %>
</div>
</body>
</html>