.answer {
  &__wrapper {
    background-color: #FFFFFF;
    border-radius: rem(10);
    margin-bottom: rem(20);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__wrapper--border {
    border: 1px solid #D2D2E0;
  }
  &__trigger {
    gap: rem(70);
    padding: rem(30);
    font-size: calc(20px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-family: $font-accent;
    color: $color-dark;
    transition: all .3s ease-out;
    &:hover {
      .answer__button:not(.active) {
        transform: rotate(90deg)  scale(1.3);
      }
    }
    @include rmin(1920) {
      font-size: rem(24);
    }
    @include r($mobile) {
      padding: rem(15);
      gap: rem(10);
      align-items: baseline;
    }

    &.active {
      color: $color-accent;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: rem(18);
    height: 3px;
    background-color: $color-accent;
    will-change: transform;
    transition: all .5s ease-in-out;
    @include r($mobile) {
      height: 2px;
      width: rem(15);
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 3px;
      height: rem(18);
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-accent;
      transition: all .3s ease-out;
      @include r($mobile) {
        width: 2px;
        height: rem(15);
      }
    }

    &.active {
      &:before {
        transform: translateX(-50%) rotate(90deg);
      }
    }
  }

  &__inner {
    padding: 0 rem(30) rem(30);
    margin-top: rem(-5);
    font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
    color: #A2A2BF;
    @include rmin(1920) {
      font-size: rem(20);
    }
    @include r($mobile) {
      padding: 0 rem(15) rem(20);
    }
  }
}