.article-product {
  &__picture {
    position: relative;
    display: flex;
    width: 449px;
    height: 455px;
    border-radius: 30px;
    overflow: hidden;
    background-color: $color-grayLight;

    @include r($tablet) {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -126px;
      display: flex;
      width: 100%;
      height: 319px;
      border-radius: 50%;
      background-color: $color-light;
      z-index: 0;
    }

    img {
      display: flex;
      object-fit: none;
      z-index: 1;
    }

    &--purple {
      background-color: $color-accent;

      &::after {
        background-color: $color-purple;
      }
    }

    &--green {
      background-color: $color-second;
      &::after {
        background-color: $color-secondDark;
      }
    }
  }

  &__detail {
    position: relative;
    display: flex;
    margin: -75px 30px 0;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    border-radius: 20px;
    background-color: $color-light;
    box-shadow: 20px 20px 50px 0 #414E7C26;
    z-index: 2;

    @include r($tablet) {
      margin: -50px 0 0 0;
    }
  }
}