.back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: rem(30);
  bottom: rem(-135);
  width: rem(60);
  max-height: rem(110);
  gap: rem(8);
  padding: rem(22) rem(19);
  border-radius: rem(35);
  background-color: #FFFFFF;
  z-index: 990;
  box-shadow: 0px 4px 40px 0px rgba(33, 56, 90, 0.15);
  transition: all .3s ease-in-out;
  @include r($mobile) {
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    padding: 0;
  }

  &:hover {
    background-color: #A2A2BF;

    .back-to-top__icon,
    .back-to-top__text {
      color: #FFFFFF;
      fill: #FFFFFF;
    }
  }

  &.active {
    bottom: rem(35);
  }

  &__icon {
    width: rem(11);
    height: rem(6);
    fill: #A2A2BF;
    margin-left: 2px;
    transition: all .3s ease-in-out;
  }

  &__text {
    font-size: rem(16);
    color: #A2A2BF;
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
    transition: all .3s ease-in-out;
    @include r($mobile) {
      display: none;
      visibility: hidden;
    }
  }
}