.badge {
  position: relative;
  display: flex;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 2;

  &__text {
    position: absolute;
    transform-origin: center center;
    top: -40%;
    width: 100%;
    height: 90%;
    font-weight: 600;
  }

  &__icon {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);
    will-change: transform;
  }

  &__icon-arrow {
    top: 50%;
    left: 50%;
    width: rem(35);
    height: rem(35);
    animation-name: item-scale;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include r($mobile) {
      width: rem(26);
      height: rem(26);
    }
  }

  &__icon-text {
    width: 80%;
    height: 80%;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @include r($mobile) {
      width: rem(90);
      height: rem(90);
    }
  }

  &--light {
    width: rem(177);
    height: rem(177);
    background-color: #FFFFFF;
    color: $color-accent;
    fill: $color-accent;
    @include r($mobile) {
      width: rem(117);
      height: rem(117);
    }
  }


  &--color {
    width: rem(227);
    height: rem(227);
    background-color: $color-accent;
    color: #FFFFFF;
    fill: #FFFFFF;
    @include r($mobile) {
      width: rem(167);
      height: rem(167);
    }
  }

  &--color__icon-text {
    width: rem(162);
    height: rem(169);
    @include r($mobile) {
      width: rem(135);
      height: rem(135);
    }
  }

  &--color__icon-arrow {
    width: rem(50);
    height: rem(50);
    @include r($mobile) {
      width: rem(35);
      height: rem(35);
    }
  }


  &--color__text {
    left: rem(30);
    transform: rotate(286deg);
    font-size: rem(26);
  }
}