.block-news {

  &__inner {
    display: flex;
    gap: rem(30);
    transition: max-width .8s ease-out;
    @include r($tablet) {
      margin-bottom: rem(40);
      flex-wrap: wrap;
    }
    @include r($mobile) {
      gap: rem(15);
    }
  }

  &__item {
    flex: 1 1 100%;
    max-width: rem(330);
    position: relative;
    height: rem(506);
    @include r($tablet) {
      max-width: 35%;
      &:last-child {
        width: 100% !important;
        max-width: none !important;
      }
    }
    @include r($mobile) {
      max-width: none;
      width: 100%;
      height: fit-content;
    }
  }

  &__item--extra {
    max-width: rem(570);
    @include r($tablet) {
      max-width: 60%;
    }
    @include r($mobile) {
      max-width: none;
      width: 100%;
    }
  }

  &__item--extra-top {
    height: 100%;
    @include r($mobile) {
      height: rem(300);
    }
  }

  &__item--extra-bottom {
    @include rmin($mobile) {
      position: absolute;
      bottom: rem(30);
      left: rem(30);
      max-width: 82%;
      max-height: rem(100);
      padding: rem(20);
      border-radius: rem(20);
      .card-news__title {
        -webkit-line-clamp: 1;
        line-clamp: 1;
      }
    }
  }

  &__item--md {
    max-width: rem(450);
    @include r($tablet) {
      max-width: rem(400);
    }
    @include r($mobile) {
      max-width: none;
      width: 100%;
    }
  }
}