.body {
  display: flex;
  font-size: rem(16);
  line-height: 1.3;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-wrap: balance;
  font-family: $font-main;
  color: $color-dark;
  font-weight: 400;
  scroll-behavior: smooth;
  transition: all .3s ease-in-out;

  &.overlay {
    overflow-y: hidden;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 150;
      background-color: rgba(34, 34, 34, 0.5);
      backdrop-filter: blur(7px);
    }
  }

  &::-webkit-scrollbar {
    width: rem(7);
  }

  &::-webkit-scrollbar-thumb {
    width: rem(7);
    background-color: $color-accent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(89, 89, 89, 0.2);
  }

  @include r($mobile) {
    font-size: rem(14);
  }
}
