.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: rem(21);
  height: rem(14.5);
  span {
    display: flex;
    width: rem(20);
    height: 2px;
    border-radius: rem(10);
    background-color: $color-accent;

  }
}