.card-news {
  display: block;

  &:hover,
  &:focus {
    .card-news__top-pic {
      img {
        transform: scale(1.1);
      }
    }
  }

  &__top {
    position: relative;
    height: rem(400);
    @include r($mobile) {
      height: rem(300);
    }
  }

  &__top-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: rem(30);
    right: rem(30);
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    background-color: #FFFFFF;
    will-change: transform;
    @include r($mobile) {
      width: rem(30);
      height: rem(30);
    }

    &:hover,
    &:focus {
      transform: rotate(10deg) scale(1.2);
    }

    svg {
      width: rem(14);
      height: rem(14);
      fill: $color-dark;
      @include r($mobile) {
        width: rem(8);
        height: rem(8);
      }
    }
  }

  &__top-pic {
    display: block;
    border-radius: rem(30);
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      will-change: transform;
      transition: all .3s ease-out;
    }
  }

  &__bottom {
    padding: rem(15) 0 0;
    background-color: #FFFFFF;
    border-radius: rem(20);
    will-change: position;
    transition: all .5s ease-out;
    @include r($mobile) {
      padding: rem(10) 0 0;
    }
  }

  &__type {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: rem(14);
    margin-bottom: rem(12);
    @include r($mobile) {
      padding-left: rem(7);
      margin-bottom: rem(5);
    }

    &:before {
      content: '';
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $color-dark;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--transparent {
    .card-news__type::before {
      display: none;
    }
    .card-news__bottom {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      padding: 20px 20px 10px;
      border: 1px solid #A2A2BF80;
      backdrop-filter: blur(5px);
      background-color: rgba($color-light, 0.8);
    }
    &:hover,
    &:focus {
      .card-news__bottom {
        background-color: $color-accent;
        color: $color-light;
      }
    }

    @include r($mobile) {
      .card-news__top {
        height: 506px;
      }
    }
  }
}