.card-ofr {
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: rem(40) rem(27);
  border-radius: rem(40);
  height: rem(277);
  overflow: hidden;
  background-color: #F4F4F9;
  transform: rotate(var(--rotate)) translateX(var(--translateX));
  transition: all .5s ease-out;

  @include r($laptop) {
    transform: none;
    height: rem(394);
  }
  @include r($mobile) {
    height: rem(277);
  }

  &:hover {
    transform: none;

    .card-ofr__icon-bg {
      transform: scale(1.3) translate(10px, 10px);
    }
  }

  &__icon-bg {
    position: absolute;
    z-index: 0;
    width: rem(71);
    height: rem(71);
    top: rem(-15);
    left: rem(-15);
    will-change: transform;
    line-height: 1;
    transition: all .3s ease-out;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__picture-bg {
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    color: $color-dark;
    height: fit-content;
    width: 70%;
    will-change: transform;
  }

  &__title {
    font-family: $font-accent;
    font-size: rem(24);
    margin-bottom: rem(12);
  }

  &--green {
    background-color: $color-second;
    @include r($mobile) {
      height: rem(247);
    }
  }

  &--green__icon-bg {
    width: rem(207);
    height: rem(207);
    top: rem(-70);
    left: rem(-70);
  }

  &--big {
    height: rem(450);
    padding: rem(50) rem(35);
    border-radius: rem(50);
    background-color: $color-accent;

    &:hover {
      .card-ofr--big__title svg {
        transform: rotate(45deg) translate(20px, -20px) scale(1.3);
      }

      .card-ofr__icon-bg {
        transform: none;
      }
    }

    @include r($laptop) {
      height: rem(394);
    }
    @include r($mobile) {
      border-radius: rem(30);
    }
  }

  &--big__icon-bg {
    width: rem(283);
    height: rem(225);
    top: rem(-80);
    left: rem(-70);
  }

  &--big__content {
    width: 90%;
    @include r($mobile) {
      width: 100%;
    }
  }

  &--big__title {
    color: $color-second;
    fill: $color-second;
    font-size: rem(36);
    margin-bottom: rem(20);
    @include r($mobile) {
      font-size: rem(32);
    }

    svg {
      display: block;
      width: rem(25);
      height: rem(25);
      margin-bottom: rem(13);
      transition: all .5s ease-out;
    }
  }

  &--big__text {
    color: #FFFFFF;
  }

  &--extra-big {
    padding: 0;
    border-radius: rem(120);
    height: rem(460);
    @include r($laptop) {
      height: rem(394);
      border-radius: rem(30);
    }
    @include r($mobile) {
      height: rem(287);
    }
  }
}