.card-srv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: rem(38);
  border-radius: rem(30);
  height: rem(300);
  gap: rem(15);
  @include r($tablet) {
    padding: rem(25) rem(20);
  }
  @include r($mobile) {
    border-radius: rem(15);
    gap: rem(20);
    height: fit-content;
  }

  &__top {
    max-width: rem(345);
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: rem(15);
    justify-content: space-between;
    @include r($tablet) {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(10);
    }
  }

  &__button {
    font-size: rem(18);
    max-width: rem(205);
    width: 100%;
    min-width: 0;
    white-space: nowrap;
    padding: rem(23) rem(30);
    @include r($tablet) {
      max-width: none;
      width: 100%;
    }
  }

  &__text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}