.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1430);
    padding-left: rem(10);
    padding-right: rem(10);

    @include r($mobile) {
        padding-left: rem(17);
        padding-right: rem(17);
    }
}