.decor {
  &--border {
    color: $color-accent;
    position: relative;
    display: block;
    width: fit-content;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 5px;
      left: rem(-15);
      width: calc(100% + 40px);
      height: calc(100% + 30px);
      background: url("../assets/images/icon-border.svg") no-repeat, center;
      background-size: calc(100% - 10px);
      @include r($mobile) {
        top: 1px;
        left: rem(-7);
      }
    }
  }

  &--outline {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: -4px;
      left: rem(-10);
      width: 100%;
      height: rem(120);
      background: url("../assets/images/icon-outline.svg") no-repeat, center;
      background-size: calc(100% - 5px);
      z-index: -1;
    }

  }
}