.editor {
  p {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
    @include rmin(1920) {
      font-size: rem(16);
    }
  }

  h3 {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
  }

  ol {
    padding-left: 24px;
    list-style: decimal;

    &:not(:last-of-type) {
      margin-bottom: 40px;
    }

    li {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;

      @include r($mobile) {
        font-size: 16px;
        line-height: 22.4px;
      }
    }
  }
}