.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: #FFFFFF;
  padding-bottom: rem(15);
  @include r($laptop) {
    padding: rem(7.5) 0;
  }
  @include r($mobile) {
    padding: rem(12) 0 rem(10);
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__toolbar {
    display: flex;
    align-items: center;
    gap: rem(15);
    @include r($laptop) {
      margin-right: rem(20);
    }
    @include r($mobile) {
      margin-right: 0;
      gap: rem(12);
    }
  }

  &__toolbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    width: rem(30);
    height: rem(30);
    @include r($mobile) {
      width: rem(20);
      height: rem(20);
    }

    svg {
      fill: $color-dark;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      z-index: -1;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      background-color: $color-second;
      transition: all .3s ease-out;
    }

    &:hover {
      svg {
        fill: $color-accent;
      }

      &:before {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  &__toolbar-icon {
    width: 100%;
    height: 100%;
    max-width: rem(20);
    max-height: rem(20);
    @include r($mobile) {
      max-width: rem(18);
      max-height: rem(18);
    }
  }

  &__search {
    @include r($laptop) {
      margin-right: auto;
    }
    @include r($mobile) {
      label {
        max-width: 0;
      }
    }
  }

  &__logo {
    @include r($mobile) {
      margin-right: auto;
      max-width: rem(132);
      min-width: 40%;
    }
  }

  &__callback-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include r($laptop) {
      align-items: center;
    }
  }

  &__callback-text {
    font-size: rem(20);
    font-weight: 700;
    color: $color-dark;
  }

  &__callback-text-underline {
    font-size: rem(14);
    color: $color-accent;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
  }

  &__account,
  &__callback {
    @include r($laptop) {
      display: none;
      visibility: hidden;
    }
  }

  &__account--mobile,
  &__callback--mobile {
    display: none;
    visibility: hidden;

    @include r($laptop) {
      display: flex;
      visibility: visible;
      width: 100%;
      justify-content: center;
    }
  }

  &__account-link {
    display: flex;
    align-items: center;
    gap: rem(13);
    background-color: $color-grayLight;
    padding: rem(12.5) rem(23.5);
    border-radius: rem(15);
    font-size: rem(18);
    color: $color-accent;
    @include r($laptop) {
      width: 100%;
      justify-content: center;
      margin-bottom: rem(25);
    }
  }

  &__account-icon {
    width: rem(21);
    height: rem(23);
    fill: $color-accent;
  }

  &__top {
    padding: rem(15) 0 rem(45);
    @include r($laptop) {
      gap: rem(30);
      padding: 0;
    }
    @include r($mobile) {
      gap: rem(20);
    }

  }

  &__menu-btn {
    display: none;
    position: absolute;
    visibility: hidden;
    @include r($laptop) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 4px;
      position: relative;
      visibility: visible;
      width: rem(25);
      height: rem(25);
      cursor: pointer;
      &.active {
        span:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }

        span:nth-child(2) {
          width: 0;
        }

        span:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
        }
      }
      span {
        display: block;
        width: rem(21);
        height: 2px;
        background-color: $color-accent;
        border-radius: rem(10);
        transition: width, transform .3s ease-in-out;
      }
    }
  }
}
