.info {
  display: flex;
  gap: 30px;

  @include r($mobile) {
    gap: 21px;
  }

  &:not(:last-child) {
    padding-bottom: 63px;
    border-bottom: 2px solid $color-grayLight;

    @include r($mobile) {
      padding-bottom: 24px;
    }
  }

  &:not(:first-child) {
    padding-top: 70px;

    @include r($mobile) {
      padding-top: 24px;
    }
  }

  &__detail {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28.8px;
    color: $color-burgundyDark;

    @include r($mobile) {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: $color-grayPowder;
  }

  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top: 15px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 18px;
    background-color: $color-burgundyDark;

    @include r($mobile) {
      margin-top: 0;
      width: 39px;
      height: 39px;
      border-radius: 8px;
    }

    img {
      display: block;
      width: 24px;
      height: 24px;

      @include r($mobile) {
        width: 15px;
        height: 15px;
      }
    }
  }
}