input {
  flex-shrink: 0;
  max-width: 100%;
  height: 100%;
  border: 1px solid #D5D5E2;
  border-radius: rem(5);
  transition: all .3s ease-in-out;

  &:checked {
    background-color: $color-accent;
    background-image: url("../assets/images/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: rem(13);
    background-position: center;
  }
}