.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  max-width: rem(245);
  max-height: rem(34);
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}