.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: rem(155);
  transition: all .4s ease-out;
  @include r($laptop) {
    padding-top: rem(70);
  }
  @include r($mobile) {
    padding-top: rem(60);
  }
}