.menu-mobile {
  @include r($laptop) {
    position: fixed;
    top: rem(66);
    left: -200%;
    z-index: 998;
    height: 100vh;
    background-color: #FFFFFF;
    overflow-y: scroll;
    transition: left .3s ease-out;
  }
  @include r($mobile) {
    top: rem(45);
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &.active {
    left: 0;
  }

  &__nav {
    @include r($laptop) {
      margin: rem(70) 0;
      padding: rem(60);
      min-width: rem(500);
      overflow-y: auto;
      height: 100%;
    }
    @include r($mobile) {
      min-width: 0;
      min-height: 100vh;
      padding: rem(60);
    }
    @include r($mobileSmall) {
      padding: rem(20);
    }

    &::-webkit-scrollbar {
      width: rem(4);
      padding: rem(10);
    }

    &::-webkit-scrollbar-thumb {
      width: rem(4);
      background-color: $color-accent;
      border-radius: 10px;

    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &__list {
    @include r($laptop) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: rem(20);
    }

    li {
      @include r($laptop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid $color-grayLight;
      }
    }
  }

  &__link {
    @include r($laptop) {
      height: rem(44);
    }
  }

  &__link-icon {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
    @include r($laptop) {
      display: block;
      position: static;
      visibility: visible;
      width: rem(12);
      height: rem(8);
      transform: rotate(90deg);
      fill: #A2A2BF;
    }
  }

  &__nav-bottom {
    @include r($laptop) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
