.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include r($tablet) {
    width: 88px;
    height: 74px;
  }

  &__text {
    font-size: 70px;
    font-weight: 600;
    line-height: 84px;
    text-align: left;
    color: $color-purple;

    @include r($tablet) {
      font-size: 34px;
      line-height: 40px;
    }
  }
}