.prod-detail-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(5) rem(15);
  border-radius: rem(8);
  border: 1px solid #A2A2BF;
  color: #A2A2BF;
  font-size: rem(14);
  white-space: nowrap;
  @include r($tablet) {
    flex: 1 1 50%;
    max-width: rem(172);
  }
  @include r($tablet) {

  }
}