.promo-block {
  position: relative;
  display: flex;
  width: 100%;
  height: 445px;
  border-radius: 30px;
  background-color: $color-grayLight;

  @include r($mobile) {
    height: 644px;
    width: auto;
    margin-left: -17px;
    margin-right: -17px;
    border-radius: 0;
  }

  &__picture {
    display: flex;
    border-radius: 30px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;

    }
  }

  &--purple {
    background-color: $color-accent;
  }

  &__item {
    position: absolute;
    top: 71px;
    left: 125px;
    display: flex;
    width: 330px;
    height: auto;
    border-radius: 20px;
    box-shadow: 20px 20px 50px 0 #414E7C26;
    transform: rotate(-14.6deg);

    @include r($laptop) {
      width: 280px;
      left: 10%;
    }

    @include r($tablet) {
      width: 250px;
      left: 0;
    }

    @include r($mobile) {
      width: 216px;
      top: 58%;
    }

    &:nth-child(2) {
      top: -36px;
      left: 552px;
      transform: rotate(10deg);

      @include r($laptop) {
        left: 43%;
      }

      @include r($tablet) {
        left: 37%;
      }

      @include r($mobile) {
        top: -5px;
        left: 3%;
        transform: rotate(-10deg);
      }
    }

    &:nth-child(3) {
      top: 122px;
      left: 927px;
      transform: rotate(13deg);
      @include r($laptop) {
        left: 72%;
      }

      @include r($tablet) {
        left: 65%;
      }

      @include r($mobile) {
        top: 174px;
        left: 43%;
      }
    }
  }
}