.search {
  position: relative;
  width: 100%;
  max-width: rem(585);
  @include r($mobile) {
    width: rem(20);
    height: rem(20);
  }

  label {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    @include r($mobile) {
      position: fixed;
      top: -100%;
      height: rem(35);
      width: 90vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      box-shadow: 0 0 30px 3px rgba(41, 41, 41, 0.2);
      transition: all .3s ease-in-out;
      &.active {
        max-width: none;
        top: rem(60);
      }
    }
  }

  input {
    width: 100%;
    padding: rem(14) rem(45) rem(14) rem(20);
    background-color: $color-grayLight;

    &::placeholder {
      color: #A2A2BF;
      font-size: rem(14);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: rem(20);
    transform: translateY(-50%);
    width: rem(25);
    height: rem(25);
    padding: 2px;
    cursor: pointer;
    @include r($mobile) {
      right: rem(-5);
    }
  }

  &__button-icon {
    width: 100%;
    height: 100%;
    fill: $color-accent;
    @include r($mobile) {
      fill: $color-dark;
      padding-left: 3px;
      max-width: rem(20);
      max-height: rem(17);
    }
  }
}