.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: $color-purple;
  }

  &__description {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: $color-grayPowder;

    @include r($mobile) {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
    }
  }

}