.tabs {

  &__controls {
    display: flex;
    position: relative;
    z-index: 2;
  }
  &__list {
    min-height: rem(150);
  }

  &__item {
    display: none;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  &__item.active {
    display: flex;
  }

  &__trigger {
    user-select: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

}