.title {
  font-family: $font-accent;
  font-weight: 600;
  font-size: calc(32px + 28 * ((100vw - 320px) / (1920 - 320)));
  @include rmin(1920) {
    font-size: rem(60);
  }

  &--medium {
    font-size: calc(24px + 16 * ((100vw - 320px) / (1920 - 320)));
    @include rmin(1920) {
      font-size: rem(40);
    }
  }

  &__subtitle {
    font-size: calc(18px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-family: $font-main;

    @include rmin(1920) {
      font-size: rem(24);
    }

    &--medium {
      font-weight: 600;
    }
  }

  &--small {
    font-size: rem(36);
    @include rmin(1920) {
      font-size: rem(36);
    }
  }
  &--extra-small {
    font-size: rem(24);
    @include rmin(1920) {
      font-size: rem(24);
    }
  }

  &--accent {
    color: $color-accent;
  }

  &--extra {
    font-size: calc(36px + 34 * ((100vw - 320px) / (1920 - 320)));
    @include rmin(1920) {
      font-size: rem(70);
    }
  }

  &--preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include r($mobile) {
      font-size: 24px;
    }

    span {
      display: flex;
      padding: 10px 54px 24px;
      border-radius: 50px;
      line-height: 1;
      background-color: $color-accent;
      color: $color-light;

      @include r($mobile) {
        padding: 7px 32px 13px;
      }
    }
  }

  &--tablet {
    @include r($tablet) {
      font-size: 20px;
    }
  }

  &--mobile {
    @include r($mobile) {
      font-size: 20px;
    }
  }
}